@page "/promotions"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Promotions> _localizer

<MudPaper Elevation="3" Class="px-4 mx-n4 mt-n10 py-10 mud-theme-primary rounded" Style="border-radius: 0px 0px 45px 45px;" Outlined="false">
    <MudGrid>
        <MudItem xs="12">
            <MudPaper Elevation="5" Class="d-flex px-0">
                <MudTextField @bind-Value="Search" Class="ma-0" Label="Search" Style="background-color: white;" Variant="Variant.Filled" Adornment="Adornment.Start" AdornmentIcon="@Icons.Filled.Search" AdornmentColor="Color.Secondary" Margin="Margin.Dense"/>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudPaper>

<MudTabs Class="mb-3 mt-n5" Elevation="0" AlwaysShowScrollButtons="false" Centered="true" Rounded="false" Color="Color.Transparent" ApplyEffectsToContainer="true">
    <MudTabPanel Text="Promotions">
        <div class="hz-container mt-1">
            <MudCard Elevation="0" Class="mr-2 rounded-lg" Style="background-color: transparent" @onclick="(() => NavigateToShoppingPage())">
                <MudCardContent Class="d-flex flex-column mb-1 mt-1">
                    <MudAvatar Class="ma-2 align-self-center" Image="/images/products/bag.jpg" Style="height:60px; width:60px;"> </MudAvatar>
                    <MudText Typo="Typo.caption" Align="Align.Center">Foods</MudText>
                </MudCardContent>
            </MudCard>
            <MudCard Elevation="0" Class="mr-2 rounded-lg" Style="background-color: transparent" @onclick="(() => NavigateToShoppingPage())">
                <MudCardContent Class="d-flex flex-column mb-1 mt-1">
                    <MudAvatar Class="ma-2 align-self-center" Image="/images/icons/1.png" Style="height:60px; width:60px;"> </MudAvatar>
                    <MudText Typo="Typo.caption" Align="Align.Center">Entertainments</MudText>
                </MudCardContent>
            </MudCard>
            <MudCard Elevation="0" Class="mr-2 rounded-lg" Style="background-color: transparent" @onclick="(() => NavigateToShoppingPage())">
                <MudCardContent Class="d-flex flex-column mb-1 mt-1">
                    <MudAvatar Class="ma-2 align-self-center" Image="/images/icons/2.png" Style="height:60px; width:60px;"> </MudAvatar>
                    <MudText Typo="Typo.caption" Align="Align.Center">Shopping</MudText>
                </MudCardContent>
            </MudCard>
            <MudCard Elevation="0" Class="mr-2 rounded-lg" Style="background-color: transparent" @onclick="(() => NavigateToShoppingPage())">
                <MudCardContent Class="d-flex flex-column mb-1 mt-1">
                    <MudAvatar Class="ma-2 align-self-center" Image="/images/icons/3.png" Style="height:60px; width:60px;"> </MudAvatar>
                    <MudText Typo="Typo.caption" Align="Align.Center">Services</MudText>
                </MudCardContent>
            </MudCard>
            <MudCard Elevation="0" Class="mr-2 rounded-lg" Style="background-color: transparent" @onclick="(() => NavigateToShoppingPage())">
                <MudCardContent Class="d-flex flex-column mb-1 mt-1">
                    <MudAvatar Class="ma-2 align-self-center" Image="/images/icons/4.png" Style="height:60px; width:60px;"> </MudAvatar>
                    <MudText Typo="Typo.caption" Align="Align.Center">BlazorVouchers</MudText>
                </MudCardContent>
            </MudCard>
            <MudCard Elevation="0" Class="mr-2 rounded-lg" Style="background-color: transparent" @onclick="(() => NavigateToShoppingPage())">
                <MudCardContent Class="d-flex flex-column mb-1 mt-1">
                    <MudAvatar Class="ma-2 align-self-center" Image="/images/icons/5.png" Style="height:60px; width:60px;"> </MudAvatar>
                    <MudText Typo="Typo.caption" Align="Align.Center">Educations</MudText>
                </MudCardContent>
            </MudCard>
        </div>

        <MudDivider></MudDivider>

        <div class="d-flex flex-row justify-space-between mt-5 mb-2">
            <MudIconButton Icon="fas fa-gem" Color="Color.Primary" Class="ml-0 pr-3" Size="Size.Small"></MudIconButton>
            <MudText Color="Color.Default" Class="ml-0" Style="font-weight: 500;" Typo="Typo.subtitle1">Special Promotions</MudText>
            <MudText Color="Color.Secondary" Class="ml-auto" Typo="Typo.subtitle2">View all (10)</MudText>
        </div>
        <MudPaper Elevation="0" Style="background-color: transparent;" Class="hz-container px-1 py-2">
            <MudCard Elevation="25" Class="mr-3 rounded-lg py-0">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Primary">A</MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">Istra Croatia</MudText>
                        <MudText Typo="Typo.body2">Peninsula in Europe</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.TwoTone.Favorite" Color="Color.Default" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardMedia Image="/images/pictures/1.jpg" Height="130" />
                <MudCardContent Class="pb-0" Style="width: 300px;">
                    <MudText Typo="Typo.subtitle1" Color="@Color.Primary">Sticky Mobile</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton StartIcon="@Icons.Material.TwoTone.CardMembership" Variant="Variant.Text" Size="Size.Small" Color="Color.Secondary" Class="ma-2"> 500 Points</MudButton>
                    <MudText Typo="Typo.caption" Class="ml-3" Color="@Color.Default"> Expired: 30/9/2021 </MudText>
                </MudCardActions>
            </MudCard>

            <MudCard Elevation="25" Class="mr-3 rounded-lg py-0">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Secondary">I</MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">Istra Croatia</MudText>
                        <MudText Typo="Typo.body2">Peninsula in Europe</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.TwoTone.Favorite" Color="Color.Default" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardMedia Image="/images/pictures/2.jpg" Height="130" />
                <MudCardContent Class="pb-0" Style="width: 300px;">
                    <MudText Typo="Typo.subtitle1" Color="@Color.Primary">Progressive Web App</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton StartIcon="@Icons.Material.TwoTone.CardMembership" Variant="Variant.Text" Size="Size.Small" Color="Color.Secondary" Class="ma-2"> 500 Points</MudButton>
                    <MudText Typo="Typo.caption" Class="ml-3" Color="@Color.Default"> Expired: 1/10/2021 </MudText>
                </MudCardActions>
            </MudCard>

            <MudCard Elevation="25" Class="mr-3 rounded-lg py-0">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Error">S</MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">Istra Croatia</MudText>
                        <MudText Typo="Typo.body2">Peninsula in Europe</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.TwoTone.Favorite" Color="Color.Default" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardMedia Image="/images/pictures/3.jpg" Height="130" />
                <MudCardContent Class="pb-0" Style="width: 300px;">
                    <MudText Typo="Typo.subtitle1" Color="@Color.Primary">Blazor Hero App</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton StartIcon="@Icons.Material.TwoTone.CardMembership" Variant="Variant.Text" Size="Size.Small" Color="Color.Secondary" Class="ma-2"> 500 Points</MudButton>
                    <MudText Typo="Typo.caption" Class="ml-3" Color="@Color.Default"> Expired: 20/10/2021 </MudText>
                </MudCardActions>
            </MudCard>

            <MudCard Elevation="25" Class="mr-3 rounded-lg py-0">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Warning">D</MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">Istra Croatia</MudText>
                        <MudText Typo="Typo.body2">Peninsula in Europe</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.TwoTone.Favorite" Color="Color.Default" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardMedia Image="/images/pictures/4.jpg" Height="130" />
                <MudCardContent Class="pb-0" Style="width: 300px;">
                    <MudText Typo="Typo.subtitle1" Color="@Color.Primary">DCMS.Blazor App</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton StartIcon="@Icons.Material.TwoTone.CardMembership" Variant="Variant.Text" Size="Size.Small" Color="Color.Secondary" Class="ma-2"> 500 Points</MudButton>
                    <MudText Typo="Typo.caption" Class="ml-3" Color="@Color.Default"> Expired: 30/10/2021 </MudText>
                </MudCardActions>
            </MudCard>

            <MudCard Elevation="25" Class="mr-3 rounded-lg py-0">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Success">J</MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">Istra Croatia</MudText>
                        <MudText Typo="Typo.body2">Peninsula in Europe</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.TwoTone.Favorite" Color="Color.Default" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardMedia Image="/images/pictures/5.jpg" Height="130" />
                <MudCardContent Class="pb-0" Style="width: 300px;">
                    <MudText Typo="Typo.subtitle1" Color="@Color.Primary">PWA Ready Kit</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton StartIcon="@Icons.Material.TwoTone.CardMembership" Variant="Variant.Text" Size="Size.Small" Color="Color.Secondary" Class="ma-2"> 500 Points</MudButton>
                    <MudText Typo="Typo.caption" Class="ml-3" Color="@Color.Default"> Expired: 10/11/2021 </MudText>
                </MudCardActions>
            </MudCard>

            <MudCard Elevation="25" Class="mr-3 rounded-lg py-0">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Secondary">I</MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">Istra Croatia</MudText>
                        <MudText Typo="Typo.body2">Peninsula in Europe</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.TwoTone.Favorite" Color="Color.Default" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardMedia Image="/images/pictures/6.jpg" Height="130" />
                <MudCardContent Class="pb-0" Style="width: 300px;">
                    <MudText Typo="Typo.subtitle1" Color="@Color.Primary">MAUI and Xamarin</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton StartIcon="@Icons.Material.TwoTone.CardMembership" Variant="Variant.Text" Size="Size.Small" Color="Color.Secondary" Class="ma-2"> 500 Points</MudButton>
                    <MudText Typo="Typo.caption" Class="ml-3" Color="@Color.Default"> Expired: 11/12/2021 </MudText>
                </MudCardActions>
            </MudCard>
        </MudPaper>

        <MudDivider></MudDivider>

        <div class="d-flex flex-row justify-space-between mt-5 mb-2">
            <MudIconButton Icon="fas fa-atom" Color="Color.Primary" Class="ml-0 pr-3" Size="Size.Small"></MudIconButton>
            <MudText Color="Color.Default" Class="ml-0" Style="font-weight: 500;" Typo="Typo.subtitle1">Hot Promotions</MudText>
            <MudText Color="Color.Secondary" Class="ml-auto" Typo="Typo.subtitle2">View all (8)</MudText>
        </div>
        <MudPaper Elevation="0" Style="background-color: transparent;" Class="hz-container px-1 py-2">
            <MudCard Elevation="25" Class="mr-3 rounded-lg py-0">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Info">I</MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">Istra Croatia</MudText>
                        <MudText Typo="Typo.body2">Peninsula in Europe</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.TwoTone.Favorite" Color="Color.Default" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardMedia Image="/images/pictures/1.jpg" Height="130" />
                <MudCardContent Class="pb-0" Style="width: 300px;">
                    <MudText Typo="Typo.subtitle1" Color="@Color.Primary">Sticky Mobile</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton StartIcon="@Icons.Material.TwoTone.CardMembership" Variant="Variant.Text" Size="Size.Small" Color="Color.Secondary" Class="ma-2"> 500 Points</MudButton>
                    <MudText Typo="Typo.caption" Class="ml-3" Color="@Color.Default"> Expired: 30/9/2021 </MudText>
                </MudCardActions>
            </MudCard>

            <MudCard Elevation="25" Class="mr-3 rounded-lg py-0">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Secondary">I</MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">Istra Croatia</MudText>
                        <MudText Typo="Typo.body2">Peninsula in Europe</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.TwoTone.Favorite" Color="Color.Default" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardMedia Image="/images/pictures/2.jpg" Height="130" />
                <MudCardContent Class="pb-0" Style="width: 300px;">
                    <MudText Typo="Typo.subtitle1" Color="@Color.Primary">Progressive Web App</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton StartIcon="@Icons.Material.TwoTone.CardMembership" Variant="Variant.Text" Size="Size.Small" Color="Color.Secondary" Class="ma-2"> 500 Points</MudButton>
                    <MudText Typo="Typo.caption" Class="ml-3" Color="@Color.Default"> Expired: 1/10/2021 </MudText>
                </MudCardActions>
            </MudCard>

            <MudCard Elevation="25" Class="mr-3 rounded-lg py-0">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Warning">W</MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">Istra Croatia</MudText>
                        <MudText Typo="Typo.body2">Peninsula in Europe</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.TwoTone.Favorite" Color="Color.Default" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardMedia Image="/images/pictures/3.jpg" Height="130" />
                <MudCardContent Class="pb-0" Style="width: 300px;">
                    <MudText Typo="Typo.subtitle1" Color="@Color.Primary">Blazor Hero App</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton StartIcon="@Icons.Material.TwoTone.CardMembership" Variant="Variant.Text" Size="Size.Small" Color="Color.Secondary" Class="ma-2"> 500 Points</MudButton>
                    <MudText Typo="Typo.caption" Class="ml-3" Color="@Color.Default"> Expired: 20/10/2021 </MudText>
                </MudCardActions>
            </MudCard>

            <MudCard Elevation="25" Class="mr-3 rounded-lg py-0">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Error">E</MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">Istra Croatia</MudText>
                        <MudText Typo="Typo.body2">Peninsula in Europe</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.TwoTone.Favorite" Color="Color.Default" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardMedia Image="/images/pictures/4.jpg" Height="130" />
                <MudCardContent Class="pb-0" Style="width: 300px;">
                    <MudText Typo="Typo.subtitle1" Color="@Color.Primary">DCMS.Blazor App</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton StartIcon="@Icons.Material.TwoTone.CardMembership" Variant="Variant.Text" Size="Size.Small" Color="Color.Secondary" Class="ma-2"> 500 Points</MudButton>
                    <MudText Typo="Typo.caption" Class="ml-3" Color="@Color.Default"> Expired: 30/10/2021 </MudText>
                </MudCardActions>
            </MudCard>

            <MudCard Elevation="25" Class="mr-3 rounded-lg py-0">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Info">K</MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">Istra Croatia</MudText>
                        <MudText Typo="Typo.body2">Peninsula in Europe</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.TwoTone.Favorite" Color="Color.Default" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardMedia Image="/images/pictures/5.jpg" Height="130" />
                <MudCardContent Class="pb-0" Style="width: 300px;">
                    <MudText Typo="Typo.subtitle1" Color="@Color.Primary">PWA Ready Kit</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton StartIcon="@Icons.Material.TwoTone.CardMembership" Variant="Variant.Text" Size="Size.Small" Color="Color.Secondary" Class="ma-2"> 500 Points</MudButton>
                    <MudText Typo="Typo.caption" Class="ml-3" Color="@Color.Default"> Expired: 10/11/2021 </MudText>
                </MudCardActions>
            </MudCard>

            <MudCard Elevation="25" Class="mr-3 rounded-lg py-0">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <MudAvatar Color="Color.Secondary">T</MudAvatar>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">Istra Croatia</MudText>
                        <MudText Typo="Typo.body2">Peninsula in Europe</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.TwoTone.Favorite" Color="Color.Default" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardMedia Image="/images/pictures/6.jpg" Height="130" />
                <MudCardContent Class="pb-0" Style="width: 300px;">
                    <MudText Typo="Typo.subtitle1" Color="@Color.Primary">MAUI and Xamarin</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton StartIcon="@Icons.Material.TwoTone.CardMembership" Variant="Variant.Text" Size="Size.Small" Color="Color.Secondary" Class="ma-2"> 500 Points</MudButton>
                    <MudText Typo="Typo.caption" Class="ml-3" Color="@Color.Default"> Expired: 11/12/2021 </MudText>
                </MudCardActions>
            </MudCard>
        </MudPaper>
    </MudTabPanel>

    <MudTabPanel Text="My Coupons">
        <MudGrid Spacing="2" Class="mt-1">
            <MudItem xs="6" sm="6" md="3">
                <MudCard Elevation="25" Class="rounded-lg">
                    <MudCardMedia Class="rounded-lg" Image="/images/pictures/10.jpg" Height="160" />
                    <MudCardContent>
                        <MudText Typo="Typo.subtitle1">An Excellent, One-pan</MudText>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudText Typo="Typo.body2">One-pot meals are the savior of weeknight cooking, and this pasta is one of my go-tos.</MudText>
                        </MudHidden>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="6" sm="6" md="3">
                <MudCard Elevation="25" Class="rounded-lg">
                    <MudCardMedia Class="rounded-lg" Image="/images/pictures/11.jpg" Height="160" />
                    <MudCardContent>
                        <MudText Typo="Typo.subtitle1">An Excellent, One-pan</MudText>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudText Typo="Typo.body2">One-pot meals are the savior of weeknight cooking, and this pasta is one of my go-tos.</MudText>
                        </MudHidden>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="6" sm="6" md="3">
                <MudCard Elevation="25" Class="rounded-lg">
                    <MudCardMedia Class="rounded-lg" Image="/images/pictures/12.jpg" Height="160" />
                    <MudCardContent>
                        <MudText Typo="Typo.subtitle1">An Excellent, One-pan</MudText>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudText Typo="Typo.body2">One-pot meals are the savior of weeknight cooking, and this pasta is one of my go-tos.</MudText>
                        </MudHidden>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="6" sm="6" md="3">
                <MudCard Elevation="25" Class="rounded-lg">
                    <MudCardMedia Class="rounded-lg" Image="/images/pictures/13.jpg" Height="160" />
                    <MudCardContent>
                        <MudText Typo="Typo.subtitle1">An Excellent, One-pan</MudText>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudText Typo="Typo.body2">One-pot meals are the savior of weeknight cooking, and this pasta is one of my go-tos.</MudText>
                        </MudHidden>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="6" sm="6" md="3">
                <MudCard Elevation="25" Class="rounded-lg">
                    <MudCardMedia Class="rounded-lg" Image="/images/pictures/14.jpg" Height="160" />
                    <MudCardContent>
                        <MudText Typo="Typo.subtitle1">An Excellent, One-pan</MudText>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudText Typo="Typo.body2">One-pot meals are the savior of weeknight cooking, and this pasta is one of my go-tos.</MudText>
                        </MudHidden>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="6" sm="6" md="3">
                <MudCard Elevation="25" Class="rounded-lg">
                    <MudCardMedia Class="rounded-lg" Image="/images/pictures/15.jpg" Height="160" />
                    <MudCardContent>
                        <MudText Typo="Typo.subtitle1">An Excellent, One-pan</MudText>
                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                            <MudText Typo="Typo.body2">One-pot meals are the savior of weeknight cooking, and this pasta is one of my go-tos.</MudText>
                        </MudHidden>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudTabPanel>
</MudTabs>

@code {
    public string Search { get; set; }
}

