@page "/dashboard-health"
@inject Microsoft.Extensions.Localization.IStringLocalizer<DashboardHealth> _localizer

<style>
    .rounded-15 {
        border-radius: 15px;
    }

    .first-card {
        background-color: #E66B00;
        background-image: linear-gradient(315deg, #E66B00 0, #FFCC00 100%)
    }

    .second-card {
        background-color: #17D4FF;
        background-image: linear-gradient(135deg, #17D4FF 0, #0061B5 100%);
    }

    .third-card {
        /*background-color: #ED3700;
        background-image: linear-gradient(135deg, #ED3700 0, #870008 100%);*/
        background-color: #e1358f;
        background-image: linear-gradient(315deg, #e1358f 0, #7e6ce7 100%)
    }
</style>

<MudGrid>
    <MudItem xs="12">
        <MudPaper Elevation="0" Style="background-color: transparent" Class="d-flex pa-0 ">
            <MudPaper Elevation="0" Style="background-color: transparent" Class="pa-0 mr-0 align-self-center">
                <MudAvatar Image="/images/pictures/faces/3s.png" Style="height: 50px; width: 50px;"> </MudAvatar>
            </MudPaper>
            <MudPaper Elevation="0" Style="background-color: transparent" Class="pa-0 ml-3 mr-auto align-self-center">
                <MudText Typo="Typo.subtitle1" Style="font-weight: 400;">Welcome back,</MudText>
                <MudText Color="Color.Default" Typo="Typo.subtitle1" Class="mt-n2" Style="font-weight: 600;">John Alex Doe</MudText>
            </MudPaper>
        </MudPaper>
    </MudItem>
</MudGrid>

<MudGrid Spacing="2">
    <MudItem xs="4" sm="4" md="4">
        <MudCard Elevation="5" Class="rounded-15 first-card" @onclick="@(() => NavigateToMedicalForm())">
            <MudCardContent Class="d-flex flex-column mb-1 mt-1 px-1 py-5">
                <MudAvatar Elevation="0" Image="/images/medical/tile-1.png" Class="align-self-center" Style="height: 50px; width: 50px;"> </MudAvatar>
                <MudText Typo="Typo.subtitle2" Color="Color.Default" Style="@($" color:{Colors.Shades.White}; font-weight: 500;")" Align="Align.Center" Class="mt-3">Medical<br>Clarification</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="4" sm="4" md="4">
        <MudCard Elevation="5" Class="rounded-15 second-card" @onclick="@(() => NavigateToVaccineCertificate())">
            <MudCardContent Class="d-flex flex-column mb-1 mt-1 px-1 py-5">
                <MudAvatar Elevation="0" Image="/images/medical/tile-2.png" Class="align-self-center" Style="height: 50px; width: 50px;"> </MudAvatar>
                <MudText Typo="Typo.subtitle2" Color="Color.Default" Style="@($" color:{Colors.Shades.White}; font-weight: 500;")" Align="Align.Center" Class="mt-3">Vaccination<br>certificate</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="4" sm="4" md="4">
        <MudCard Elevation="5" Class="rounded-15 third-card">
            <MudCardContent Class="d-flex flex-column mb-1 mt-1 px-1 py-5">
                <MudAvatar Elevation="0" Image="/images/medical/tile-3.png"  Class="align-self-center" Style="height: 50px; width: 50px;"> </MudAvatar>
                <MudText Typo="Typo.subtitle2" Color="Color.Default" Style="@($" color:{Colors.Shades.White}; font-weight: 500;")" Align="Align.Center" Class="mt-3">F0 health<br>advisory</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

<MudPaper Elevation="25" Class="px-4 mx-n4 mb-n10 mt-5 pt-5 pb-10" Style="border-radius: 25px 25px 0px 0px; background-color: #E8EAF6;" Outlined="false">
    <MudGrid Class="mb-5" Spacing="3">
        <MudItem xs="4" sm="4" md="4">
            <div class="d-flex flex-column">
                <MudCard Class="d-flex align-self-center mb-2" Style="height: 76px; width: 76px; border-radius: 38px;" Elevation="25">
                    <MudIconButton Icon="fas fa-notes-medical" Color="Color.Info" Class="ma-2 align-self-center" Size="Size.Large"></MudIconButton>
                </MudCard>
                <MudText Typo="Typo.subtitle2" Style="font-weight: 500;" Align="Align.Center">Post-injection<br>symptoms</MudText>
            </div>
        </MudItem>
        <MudItem xs="4" sm="4" md="4">
            <div class="d-flex flex-column">
                <MudCard Class="d-flex align-self-center mb-2" Style="height: 76px; width: 76px; border-radius: 38px;" Elevation="25">
                    <MudIconButton Icon="@Icons.Material.Filled.Vaccines" Color="Color.Success" Class="ma-2 align-self-center" Size="Size.Large"></MudIconButton>
                </MudCard>
                <MudText Typo="Typo.subtitle2" Style="font-weight: 500;" Align="Align.Center">Vaccination<br>register</MudText>
            </div>
        </MudItem>
        <MudItem xs="4" sm="4" md="4">
            <div class="d-flex flex-column">
                <MudCard Class="d-flex align-self-center mb-2" Style="height: 76px; width: 76px; border-radius: 38px;" Elevation="25">
                    <MudIconButton Icon="fas fa-hospital" Color="Color.Warning" Class="ma-2 align-self-center" Size="Size.Large"></MudIconButton>
                </MudCard>
                <MudText Typo="Typo.subtitle2" Style="font-weight: 500;" Align="Align.Center">Examination<br>booking</MudText>
            </div>
        </MudItem>
        <MudItem xs="4" sm="4" md="4">
            <div class="d-flex flex-column">
                <MudCard Class="d-flex align-self-center mb-2" Style="height: 76px; width: 76px; border-radius: 38px;" Elevation="25">
                    <MudIconButton Icon="fas fa-briefcase-medical" Color="Color.Secondary"  Class="ma-2 align-self-center" Size="Size.Large"></MudIconButton>
                </MudCard>
                <MudText Typo="Typo.subtitle2" Style="font-weight: 500;" Align="Align.Center">Medical<br>Profile</MudText>
            </div>
        </MudItem>
        <MudItem xs="4" sm="4" md="4">
            <div class="d-flex flex-column">
                <MudCard Class="d-flex align-self-center mb-2" Style="height: 76px; width: 76px; border-radius: 38px;" Elevation="25">
                    <MudIconButton Icon="fas fa-user-md" Color="Color.Error"  Class="ma-2 align-self-center" Size="Size.Large"></MudIconButton>
                </MudCard>
                <MudText Typo="Typo.subtitle2" Style="font-weight: 500;" Align="Align.Center">Doctor<br>advisory</MudText>
            </div>
        </MudItem>
        <MudItem xs="4" sm="4" md="4">
            <div class="d-flex flex-column">
                <MudCard Class="d-flex align-self-center mb-2" Style="height: 76px; width: 76px; border-radius: 38px;" Elevation="25">
                    <MudIconButton Icon="fas fa-ellipsis-h" Color="Color.Primary"  Class="ma-2 align-self-center" Size="Size.Large"></MudIconButton>
                </MudCard>
                <MudText Typo="Typo.subtitle2" Style="font-weight: 500;" Align="Align.Center">View more<br> ... </MudText>
            </div>
        </MudItem>
    </MudGrid>

    <div class="d-flex flex-row justify-space-between mt-5 mb-2">
        <MudIconButton Icon="fas fa-book-medical" Color="Color.Primary" Class="ml-0 pr-3" Size="Size.Small"></MudIconButton>
        <MudText Color="Color.Default" Class="ml-0" Style="font-weight: 500;" Typo="Typo.subtitle1">Medical handbook</MudText>
        <MudText Color="Color.Secondary" Class="ml-auto" Typo="Typo.subtitle2">View all</MudText>
    </div>
    <MudPaper Elevation="0" Style="background-color: transparent;" Class="hz-container px-1 py-2">
        <MudCard Elevation="25" Class="mr-3 rounded-lg py-0">
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudAvatar Color="Color.Primary">M</MudAvatar>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">Dr. Mc John</MudText>
                    <MudText Typo="Typo.body2">Peninsula Hospital</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.TwoTone.Favorite" Color="Color.Default" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardMedia Image="/images/pictures/1.jpg" Height="130" />
            <MudCardContent Style="width: 300px;">
                <MudText Typo="Typo.subtitle1" Color="@Color.Primary">Sticky Mobile</MudText>
            </MudCardContent>
        </MudCard>

        <MudCard Elevation="25" Class="mr-3 rounded-lg py-0">
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudAvatar Color="Color.Secondary">I</MudAvatar>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">Dr. Istra</MudText>
                    <MudText Typo="Typo.body2">Peninsula in Europe</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.TwoTone.Favorite" Color="Color.Default" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardMedia Image="/images/pictures/2.jpg" Height="130" />
            <MudCardContent Style="width: 300px;">
                <MudText Typo="Typo.subtitle1" Color="@Color.Primary">Progressive Web App</MudText>
            </MudCardContent>
        </MudCard>

        <MudCard Elevation="25" Class="mr-3 rounded-lg py-0">
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudAvatar Color="Color.Error">S</MudAvatar>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">Istra Croatia</MudText>
                    <MudText Typo="Typo.body2">Peninsula in Europe</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.TwoTone.Favorite" Color="Color.Default" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardMedia Image="/images/pictures/3.jpg" Height="130" />
            <MudCardContent Style="width: 300px;">
                <MudText Typo="Typo.subtitle1" Color="@Color.Primary">Blazor Hero App</MudText>
            </MudCardContent>
        </MudCard>

        <MudCard Elevation="25" Class="mr-3 rounded-lg py-0">
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudAvatar Color="Color.Warning">D</MudAvatar>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">Istra Croatia</MudText>
                    <MudText Typo="Typo.body2">Peninsula in Europe</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.TwoTone.Favorite" Color="Color.Default" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardMedia Image="/images/pictures/4.jpg" Height="130" />
            <MudCardContent Style="width: 300px;">
                <MudText Typo="Typo.subtitle1" Color="@Color.Primary">DCMS.Blazor App</MudText>
            </MudCardContent>
        </MudCard>

        <MudCard Elevation="25" Class="mr-3 rounded-lg py-0">
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudAvatar Color="Color.Success">J</MudAvatar>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">Istra Croatia</MudText>
                    <MudText Typo="Typo.body2">Peninsula in Europe</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.TwoTone.Favorite" Color="Color.Default" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardMedia Image="/images/pictures/5.jpg" Height="130" />
            <MudCardContent Style="width: 300px;">
                <MudText Typo="Typo.subtitle1" Color="@Color.Primary">PWA Ready Kit</MudText>
            </MudCardContent>
        </MudCard>

        <MudCard Elevation="25" Class="mr-3 rounded-lg py-0">
            <MudCardHeader>
                <CardHeaderAvatar>
                    <MudAvatar Color="Color.Secondary">I</MudAvatar>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">Istra Croatia</MudText>
                    <MudText Typo="Typo.body2">Peninsula in Europe</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.TwoTone.Favorite" Color="Color.Default" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardMedia Image="/images/pictures/6.jpg" Height="130" />
            <MudCardContent Style="width: 300px;">
                <MudText Typo="Typo.subtitle1" Color="@Color.Primary">MAUI and Xamarin</MudText>
            </MudCardContent>
        </MudCard>
    </MudPaper>
</MudPaper>
