@page "/vaccine-certificate"
@inject Microsoft.Extensions.Localization.IStringLocalizer<VaccineCertificate> _localizer

<style>
    .rounded-15 {
        border-radius: 15px;
    }

    .first-card {
        background-color: #E66B00;
        background-image: linear-gradient(315deg, #E66B00 0, #FFCC00 100%)
    }

    .second-card {
        background-color: #17D4FF;
        background-image: linear-gradient(135deg, #17D4FF 0, #0061B5 100%);
    }

    .third-card {
        /*background-color: #ED3700;
        background-image: linear-gradient(135deg, #ED3700 0, #870008 100%);*/
        background-color: #e1358f;
        background-image: linear-gradient(315deg, #e1358f 0, #7e6ce7 100%)
    }
</style>

@if (!_loaded)
{
    <Spinner></Spinner>
}
else
{

    @*<MudGrid>
        <MudItem xs="12">
            <MudPaper Elevation="0" Style="background-color: transparent" Class="d-flex pa-0 ">
                <MudPaper Elevation="0" Style="background-color: transparent" Class="pa-0 mr-0 align-self-center">
                    <MudAvatar Image="/images/pictures/faces/3s.png" Style="height: 50px; width: 50px;"> </MudAvatar>
                </MudPaper>
                <MudPaper Elevation="0" Style="background-color: transparent" Class="pa-0 ml-3 mr-auto align-self-center">
                    <MudText Typo="Typo.subtitle1" Style="font-weight: 400;">Welcome back,</MudText>
                    <MudText Color="Color.Default" Typo="Typo.subtitle1" Class="mt-n2" Style="font-weight: 600;">John Alex Doe</MudText>
                </MudPaper>
            </MudPaper>
        </MudItem>
    </MudGrid>*@

    <MudPaper Elevation="25" Class="px-4 mx-n4 mb-n10 mt-5 pt-5 pb-10" Style="border-radius: 25px 25px 0px 0px; background-color: #006E52; background-image: url(/images/medical/bg_covid_qr_green.webp); background-size: cover !important; " Outlined="false">
        <MudGrid Class="mb-5" Spacing="3">
            <MudItem xs="12">
                <MudText Typo="Typo.subtitle1" Align="Align.Center" Style="@($" color:{Colors.Shades.White}; font-weight: 700;")">COVID-19 Vaccination Certificate</MudText>
            </MudItem>

            <MudItem xs="12">
                <MudPaper Elevation="0" Class="d-flex justify-center pa-0" Style="background-color: transparent;">
                    <MudCardMedia Image="/images/medical/shield_green.png" Style="height:78px; width:66px;"> </MudCardMedia>
                </MudPaper>
            </MudItem>

            <MudItem xs="12">
                <MudDivider Class="my-0" Style="background-color: white;"></MudDivider>
            </MudItem>

            <MudItem xs="12">
                <MudText Typo="Typo.h6" Align="Align.Center" Style="@($" color:{Colors.Shades.White}; font-weight: 700;")">HAS BEEN INJECTED 02ND VACCINE</MudText>
            </MudItem>

            <MudItem xs="12">
                <MudDivider Class="my-0" Style="background-color: white;"></MudDivider>
            </MudItem>

            <MudItem xs="12">
                <div class="d-flex justify-center py-2 px-1">
                    <MudPaper Class="pa-3 mx-2 rounded-lg">
                        <MudCardMedia Image="@ImgSrc" Style="height:180px; width:180px;" />
                    </MudPaper>
                </div>
            </MudItem>
        </MudGrid>

        <MudText Typo="Typo.subtitle1" Style="@($" color:{Colors.Shades.White}; font-weight: 700;")">Personal Information</MudText>

        <MudCard Class="mt-1 mb-3 rounded-lg">
            <MudCardContent>
                <MudGrid>
                    <MudItem xs="12">
                        <MudTextField @bind-Value="FullName" Label="Full name" Variant="Variant.Text" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Person" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField @bind-Value="DoB" Label="Date of birth" Variant="Variant.Text" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.CalendarToday" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField @bind-Value="PIDNo" Label="ID Number" Variant="Variant.Text" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Pin" />
                    </MudItem>
                </MudGrid>
            </MudCardContent>
        </MudCard>
    </MudPaper>
}
