
@inherits AntDomComponentBase

<Space Class="@ClassMapper.Class" Size="@("24")">
    <SpaceItem>
        <HeaderSearch Class="action search"
                      Placeholder="站内搜索"
                      DefaultValue=""
                      Options="DefaultOptions" />
    </SpaceItem>
    <SpaceItem>
        <AntDesign.Tooltip Title="@("帮助")" Placement="@Placement.Bottom">
            <Unbound>
                <span @ref="@context.Current" class="action">
                    <Icon Type="question-circle" Theme="outline" Style="font-size:18px" />
                </span>
            </Unbound>
        </AntDesign.Tooltip>
    </SpaceItem>
    <SpaceItem>
        <NoticeIcon ClearText="Empty"
                    ViewMoreText="see more"
                    Count="_count"
                    OnClear="HandleClear"
                    OnViewMore="HandleViewMore">
            <NoticeList TabKey="notification"
                        Title="通知"
                        EmptyText="您已查看所有通知"
                        ShowViewMore
                        Data="_notifications" />
            <NoticeList TabKey="message"
                        Title="消息"
                        EmptyText="你已经阅读了所有信息"
                        ShowViewMore
                        Data="_messages" />
            <NoticeList TabKey="event"
                        Title="待办"
                        EmptyText="你已经完成了所有要做的事情"
                        ShowViewMore
                        Data="_events" />
        </NoticeIcon>
    </SpaceItem>
    <SpaceItem>
        <AvatarDropdown Name="@_currentUser.Name"
                        Avatar="@_currentUser.Avatar"
                        MenuItems="@AvatarMenuItems"
                        OnItemSelected="HandleSelectUser" />
    </SpaceItem>
@*    <SpaceItem>
        <SelectLang OnItemSelected="HandleSelectLang" />
    </SpaceItem>*@
</Space>
