@page "/project-home1"
@inject Microsoft.Extensions.Localization.IStringLocalizer<HomePage1> _localizer

<style>
    .card-style {
        border-radius: 25px;
    }

    .card-style-1 {
        background-image: url(/images/p1.png);
        background-size: cover !important;
        background-position: center center !important;
        border-radius: 25px;
    }

    .card-style-2 {
        background-image: url(/images/p2.png);
        background-size: cover !important;
        background-position: center center !important;
        border-radius: 25px;
    }

    .card-style-3 {
        background-image: url(/images/p3.png);
        background-size: cover !important;
        background-position: center center !important;
        border-radius: 25px;
    }

    .card-style-4 {
        background-image: url(/images/p4.png);
        background-size: cover !important;
        background-position: center center !important;
        border-radius: 25px;
    }

    .card-style-5 {
        background-image: url(/images/p5.png);
        background-size: cover !important;
        background-position: center center !important;
        border-radius: 25px;
    }

    .card-hero {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
    }
</style>

@if (!_loaded)
{
    <Spinner></Spinner>
}
else
{
    <MudPaper Elevation="3" Class="px-4 mx-n4 mt-n10 pt-10 pb-12 mud-theme-primary" Style="border-radius: 0px 0px 45px 45px;" Outlined="false">
        <MudGrid Class="mt-n5">
            <MudItem xs="12">
                <MudPaper Elevation="0" Style="background-color: transparent" Class="d-flex pa-0">
                    <MudPaper Elevation="0" Style="background-color: transparent" Class="pa-0 mr-2 align-self-center">
                        <MudText Typo="Typo.subtitle1" Style="@($" color:{Colors.Shades.White}; font-weight: 400;")">Welcome back,</MudText>
                        <MudText Color="Color.Default" Typo="Typo.subtitle1" Class="mt-n2" Style="@($" color:{Colors.Shades.White}; font-weight: 600;")">JOHN DOE</MudText>
                    </MudPaper>
                    <MudPaper Elevation="0" Style="background-color: transparent" Class="pa-0 mr-0 ml-auto align-self-center">
                        <MudAvatar Image="/images/pictures/faces/3s.png" Style="height: 50px; width: 50px;"> </MudAvatar>
                    </MudPaper>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudPaper>

    <MudGrid Class="mt-n15 pt-0 mb-1">
        <MudItem xs="12">
            <div class="hz-container px-1 py-2">
                <MudCard Elevation="0" Class="mr-5 mud-theme-primary rounded-xl card-style">
                    <MudCardContent Class="d-flex flex-column justify-space-between card-style-1" Style="height: 200px; width: 310px;">
                        <div class="d-flex justify-space-between">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;">Tomorrow</MudText>
                            <MudChip Color="Color.Primary" Size="Size.Small">View</MudChip>
                        </div>
                        <div>
                            <MudText Typo="Typo.h6" Style="font-weight: 600;">6/10 Tasks</MudText>
                            <MudText Typo="Typo.caption" Style="font-weight: 600;">You have 4 tasks remaining</MudText>
                        </div>
                    </MudCardContent>
                </MudCard>

                <MudCard Elevation="0" Class="mr-5 mud-theme-primary rounded-xl card-style">
                    <MudCardContent Class="d-flex flex-column justify-space-between card-style-2" Style="height: 200px; width: 310px;">
                        <div class="d-flex justify-space-between">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;">20th November</MudText>
                            <MudChip Color="Color.Primary" Size="Size.Small">View</MudChip>
                        </div>
                        <div>
                            <MudText Typo="Typo.h6" Style="font-weight: 600;">0/10 Tasks</MudText>
                            <MudText Typo="Typo.caption" Style="font-weight: 600;">You have not started this project</MudText>
                        </div>
                    </MudCardContent>
                </MudCard>

                <MudCard Elevation="0" Class="mr-5 mud-theme-primary rounded-xl card-style">
                    <MudCardContent Class="d-flex flex-column justify-space-between card-style-3" Style="height: 200px; width: 310px;">
                        <div class="d-flex justify-space-between">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;">Today</MudText>
                            <MudChip Color="Color.Primary" Size="Size.Small">View</MudChip>
                        </div>
                        <div>
                            <MudText Typo="Typo.h6" Style="font-weight: 600;">2/10 Tasks</MudText>
                            <MudText Typo="Typo.caption" Style="font-weight: 600;">You have 8 tasks remaining</MudText>
                        </div>
                    </MudCardContent>
                </MudCard>

                <MudCard Elevation="0" Class="mr-5 rounded-xl mud-theme-primary card-style">
                    <MudCardContent Class="d-flex flex-column justify-space-between card-style-4" Style="height: 200px; width: 310px;">
                        <div class="d-flex justify-space-between">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;">15th November</MudText>
                            <MudChip Color="Color.Primary" Size="Size.Small">View</MudChip>
                        </div>
                        <div>
                            <MudText Typo="Typo.h6" Style="font-weight: 600;">1/10 Tasks</MudText>
                            <MudText Typo="Typo.caption" Style="font-weight: 600;">You have 9 tasks remaining</MudText>
                        </div>
                    </MudCardContent>
                </MudCard>

                <MudCard Elevation="0" Class="rounded-xl mud-theme-primary card-style">
                    <MudCardContent Class="d-flex flex-column justify-space-between card-style-5" Style="height: 200px; width: 310px;">
                        <div class="d-flex justify-space-between">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;">31st December</MudText>
                            <MudChip Color="Color.Primary" Size="Size.Small">View</MudChip>
                        </div>
                        <div>
                            <MudText Typo="Typo.h6" Style="font-weight: 600;">1/10 Tasks</MudText>
                            <MudText Typo="Typo.caption" Style="font-weight: 600;">You have 9 tasks remaining</MudText>
                        </div>
                    </MudCardContent>
                </MudCard>
            </div>
        </MudItem>
    </MudGrid>

    <div class="d-flex flex-row justify-space-between mt-5 mb-2">
        <MudText Color="Color.Default" Class="mx-3" Style="font-weight: 500;" Typo="Typo.subtitle1">To Do List</MudText>
        <MudText Color="Color.Primary" Class="ml-auto" Typo="Typo.subtitle2">View All</MudText>
    </div>
    <div class="hz-container pb-3">
        <MudCard Elevation="25" Class="rounded-xl mr-5">
            <MudCardContent Style="width: 160px;" Class="d-flex flex-column mb-1 mt-1">
                <MudIcon Icon="fas fa-layer-group" Color="Color.Error" Class="mb-3" Size="Size.Large"></MudIcon>
                <MudText Typo="Typo.subtitle1" Align="Align.Left" Style="font-weight: 600;" Color="@Color.Surface">Homepage Design Task</MudText>
                <MudText Typo="Typo.caption" Align="Align.Left" Color="@Color.Default">High</MudText>
            </MudCardContent>
        </MudCard>
        <MudCard Elevation="25" Class="rounded-xl mr-5">
            <MudCardContent Style="width: 160px;" Class="d-flex flex-column mb-1 mt-1">
                <MudIcon Icon="@Icons.Material.TwoTone.AddToHomeScreen" Color="Color.Tertiary" Class="mb-3" Size="Size.Large"></MudIcon>
                <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Align="Align.Left" Color="@Color.Surface">Create Task List Design Task</MudText>
                <MudText Typo="Typo.caption" Align="Align.Left" Color="@Color.Default">Medium</MudText>
            </MudCardContent>
        </MudCard>
        <MudCard Elevation="25" Class="rounded-xl mr-5">
            <MudCardContent Style="width: 160px;" Class="d-flex flex-column mb-1 mt-1">
                <MudIcon Icon="fas fa-laptop-code" Color="Color.Info" Class="mb-3" Size="Size.Large"></MudIcon>
                <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Align="Align.Left" Color="@Color.Surface">Have A Pizza Task</MudText>
                <MudText Typo="Typo.caption" Align="Align.Left" Color="@Color.Default">Urgent</MudText>
            </MudCardContent>
        </MudCard>
        <MudCard Elevation="25" Class="rounded-xl mr-5">
            <MudCardContent Style="width: 160px;" Class="d-flex flex-column mb-1 mt-1">
                <MudIcon Icon="fas fa-globe" Color="Color.Success" Class="mb-3" Size="Size.Large"></MudIcon>
                <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Align="Align.Left" Color="@Color.Surface">Custom Components Design Task</MudText>
                <MudText Typo="Typo.caption" Align="Align.Left" Color="@Color.Default">Low</MudText>
            </MudCardContent>
        </MudCard>
        <MudCard Elevation="25" Class="rounded-xl mr-5">
            <MudCardContent Style="width: 160px;" Class="d-flex flex-column mb-1 mt-1">
                <MudIcon Icon="@Icons.Material.Filled.ImportantDevices" Color="Color.Primary" Class="mb-3" Size="Size.Large"></MudIcon>
                <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Align="Align.Left" Color="@Color.Surface">Design Task Categories Page</MudText>
                <MudText Typo="Typo.caption" Align="Align.Left" Color="@Color.Default">Medium</MudText>
            </MudCardContent>
        </MudCard>
        <MudCard Elevation="25" Class="rounded-xl mr-5">
            <MudCardContent Style="width: 160px;" Class="d-flex flex-column mb-1 mt-1">
                <MudIcon Icon="fas fa-heartbeat" Color="Color.Tertiary" Class="mb-3" Size="Size.Large"></MudIcon>
                <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Align="Align.Left" Color="@Color.Surface">Implement Chat Module Task</MudText>
                <MudText Typo="Typo.caption" Align="Align.Left" Color="@Color.Default">Medium</MudText>
            </MudCardContent>
        </MudCard>
        <MudCard Elevation="25" Class="rounded-xl mr-5">
            <MudCardContent Style="width: 160px;" Class="d-flex flex-column mb-1 mt-1">
                <MudIcon Icon="fas fa-shopping-bag" Color="Color.Secondary" Class="mb-3" Size="Size.Large"></MudIcon>
                <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Align="Align.Left" Color="@Color.Surface">Have A Coffee Task</MudText>
                <MudText Typo="Typo.caption" Align="Align.Left" Color="@Color.Default">Low</MudText>
            </MudCardContent>
        </MudCard>
        <MudCard Elevation="25" Class="rounded-xl">
            <MudCardContent Style="width: 160px;" Class="d-flex flex-column mb-1 mt-1">
                <MudIcon Icon="fas fa-wallet" Color="Color.Warning" Class="mb-3" Size="Size.Large"></MudIcon>
                <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Align="Align.Left" Color="@Color.Surface">Improving UIUX Design Task</MudText>
                <MudText Typo="Typo.caption" Align="Align.Left" Color="@Color.Default">Medium</MudText>
            </MudCardContent>
        </MudCard>
    </div>

    <div class="d-flex flex-row justify-space-between mt-7 mb-2">
        <MudText Color="Color.Default" Class="mx-3" Style="font-weight: 500;" Typo="Typo.subtitle1">In Progress</MudText>
        <MudText Color="Color.Primary" Class="ml-auto" Typo="Typo.subtitle2">View All</MudText>
    </div>
    <MudGrid Class="mb-7" Spacing="2">
        <MudItem xs="12" sm="12" md="12">
            <MudPaper Elevation="25" Class="d-flex pa-5 rounded-xl">
                <MudPaper Elevation="0" Class="pa-0 mr-2 align-self-center">
                    <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Releases Update</MudText>
                    <MudText Typo="Typo.body2" Color="@Color.Default">High Priority</MudText>
                </MudPaper>
                <MudPaper Elevation="0" Class="pa-0 mr-0 ml-auto align-self-center">
                    <MudText Typo="Typo.body2" Align="Align.Right" Style="font-weight: 500;" Color="@Color.Primary">Progress</MudText>
                    <MudChip Class="px-2 ml-0 mr-2 align-self-center" Color="Color.Tertiary" Size="Size.Small">90%</MudChip>
                </MudPaper>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="12" md="12">
            <MudPaper Elevation="25" Class="d-flex pa-5 rounded-xl">
                <MudPaper Elevation="0" Class="pa-0 mr-2 align-self-center">
                    <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Create Task Package</MudText>
                    <MudText Typo="Typo.body2" Color="@Color.Default">Medium Priority</MudText>
                </MudPaper>
                <MudPaper Elevation="0" Class="pa-0 mr-0 ml-auto align-self-center">
                    <MudText Typo="Typo.caption" Align="Align.Right" Style="font-weight: 500;" Color="@Color.Primary">Progress</MudText>
                    <MudChip Class="px-2 ml-0 mr-2 align-self-center" Color="Color.Primary" Size="Size.Small">70%</MudChip>
                </MudPaper>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="12" md="12">
            <MudPaper Elevation="25" Class="d-flex pa-5 rounded-xl">
                <MudPaper Elevation="0" Class="pa-0 mr-2 align-self-center">
                    <MudText Typo="Typo.caption" Style="font-weight: 600;" Color="@Color.Default">Improve UIUX</MudText>
                    <MudText Typo="Typo.body2" Color="@Color.Default">Low Priority</MudText>
                </MudPaper>
                <MudPaper Elevation="0" Class="pa-0 mr-0 ml-auto align-self-center">
                    <MudText Typo="Typo.caption" Align="Align.Right" Style="font-weight: 500;" Color="@Color.Primary">Progress</MudText>
                    <MudChip Class="px-2 ml-0 mr-2 align-self-center" Color="Color.Warning" Size="Size.Small">30%</MudChip>
                </MudPaper>
            </MudPaper>
        </MudItem>
    </MudGrid>

    <MudPaper Elevation="0" Class="px-4 mx-n4 my-5 py-5 mud-theme-primary" Outlined="false" Square="true">
        <MudText Typo="Typo.h6" Style="font-weight: 600; text-align: left;">My Team</MudText>
        <MudText Typo="Typo.body2" Style="font-weight: 600; text-align: left;">Team Members you assigned to your projects.</MudText>

        <MudCard Class="rounded-xl my-5">
            <MudCardContent>
                <MudGrid Spacing="2">
                    <MudItem xs="6">
                        <div class="d-flex flex-row">
                            <MudAvatar Image="/images/pictures/faces/1s.png" Class="pa-0 mr-2 align-self-center" Style="height:40px; width:40px;"></MudAvatar>
                            <div>
                                <MudText Typo="Typo.subtitle2" Style="font-weight: 700;" Color="@Color.Default">John Doe</MudText>
                                <MudText Typo="Typo.body2">Front End Dev</MudText>
                            </div>
                        </div>
                    </MudItem>

                    <MudItem xs="6">
                        <div class="d-flex flex-row">
                            <MudAvatar Image="/images/pictures/faces/2s.png" Class="pa-0 mr-2 align-self-center" Style="height:40px; width:40px;"></MudAvatar>
                            <div>
                                <MudText Typo="Typo.subtitle2" Style="font-weight: 700;" Color="@Color.Default">Benson Gitau</MudText>
                                <MudText Typo="Typo.body2">Back End Dev</MudText>
                            </div>
                        </div>
                    </MudItem>

                    <MudItem xs="6">
                        <div class="d-flex flex-row">
                            <MudAvatar Image="/images/pictures/faces/3s.png" Class="pa-0 mr-2 align-self-center" Style="height:40px; width:40px;"></MudAvatar>
                            <div>
                                <MudText Typo="Typo.subtitle2" Style="font-weight: 700;" Color="@Color.Default">Aji Fauzie</MudText>
                                <MudText Typo="Typo.body2">Front End Dev</MudText>
                            </div>
                        </div>
                    </MudItem>

                    <MudItem xs="6">
                        <div class="d-flex flex-row">
                            <MudAvatar Image="/images/pictures/faces/4s.png" Class="pa-0 mr-2 align-self-center" Style="height:40px; width:40px;"></MudAvatar>
                            <div>
                                <MudText Typo="Typo.subtitle2" Style="font-weight: 700;" Color="@Color.Default">Tim Bevin</MudText>
                                <MudText Typo="Typo.body2">Team Lead</MudText>
                            </div>
                        </div>
                    </MudItem>
                </MudGrid>
            </MudCardContent>
        </MudCard>

        <MudContainer Fixed="true" Class="px-0">
            <MudButton FullWidth="true" Class="rounded-lg" Variant="Variant.Filled" Color="Color.Tertiary">VIEW TEAM</MudButton>
        </MudContainer>
    </MudPaper>

    <div class="d-flex flex-row justify-space-between mt-10 mb-2">
        <MudText Color="Color.Default" Class="mx-3" Style="font-weight: 500;" Typo="Typo.subtitle1">Assigned To You</MudText>
        <MudText Color="Color.Primary" Class="ml-auto" Typo="Typo.subtitle2">View All</MudText>
    </div>
    <MudCard Elevation="0" Class="mud-theme-primary rounded-xl card-style">
        <MudCardContent Class="d-flex flex-column justify-space-between card-style-1" Style="height: 230px;">
            <div class="d-flex justify-space-between">
                <MudText Typo="Typo.subtitle1" Color="Color.Error" Style="font-weight: 600;"> </MudText>
                <MudChip Color="Color.Primary" Size="Size.Small">View</MudChip>
            </div>
            <div>
                <MudText Typo="Typo.h6" Style="font-weight: 600;">6/10 Tasks</MudText>
                <MudText Typo="Typo.caption" Style="font-weight: 600;">You have 4 tasks remaining</MudText>
            </div>
        </MudCardContent>
    </MudCard>
}