@page "/project-project1"
@inject Microsoft.Extensions.Localization.IStringLocalizer<ProjectPage1> _localizer

@if (!_loaded)
{
    <Spinner></Spinner>
}
else
{
    <MudPaper Elevation="3" Height="150" Class="px-4 mx-n4 mt-n10 py-10 mud-theme-primary" Style="border-radius: 0px 0px 45px 45px;" Outlined="false">
        <MudPaper Elevation="0" Class="py-0">

        </MudPaper>
    </MudPaper>

    <MudGrid Class="mt-n15 pt-0 mb-1">
        <MudItem xs="12">
            <div class="hz-container pb-3">
                <MudCard Elevation="25" Class="rounded-xl mr-5">
                    <MudCardContent Style="width: 160px;" Class="justify-space-around">
                        <MudIcon Icon="fas fa-layer-group" Color="Color.Error" Class="mb-3" Size="Size.Large"></MudIcon>
                        <MudText Typo="Typo.subtitle1" Align="Align.Left" Style="font-weight: 600;" Color="@Color.Surface">Homepage Design Task</MudText>
                        <MudText Class="mt-auto" Typo="Typo.caption" Align="Align.Left" Color="@Color.Default">High</MudText>
                    </MudCardContent>
                </MudCard>
                <MudCard Elevation="25" Class="rounded-xl mr-5">
                    <MudCardContent Style="width: 160px;" Class="d-flex flex-column mb-1 mt-1">
                        <MudIcon Icon="@Icons.Material.TwoTone.AddToHomeScreen" Color="Color.Tertiary" Class="mb-3" Size="Size.Large"></MudIcon>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Align="Align.Left" Color="@Color.Surface">Create Task List Design Task</MudText>
                        <MudText Typo="Typo.caption" Align="Align.Left" Color="@Color.Default">Medium</MudText>
                    </MudCardContent>
                </MudCard>
                <MudCard Elevation="25" Class="rounded-xl mr-5">
                    <MudCardContent Style="width: 160px;" Class="d-flex flex-column mb-1 mt-1">
                        <MudIcon Icon="fas fa-laptop-code" Color="Color.Info" Class="mb-3" Size="Size.Large"></MudIcon>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Align="Align.Left" Color="@Color.Surface">Have A Pizza Task</MudText>
                        <MudText Typo="Typo.caption" Align="Align.Left" Color="@Color.Default">Urgent</MudText>
                    </MudCardContent>
                </MudCard>
                <MudCard Elevation="25" Class="rounded-xl mr-5">
                    <MudCardContent Style="width: 160px;" Class="d-flex flex-column mb-1 mt-1">
                        <MudIcon Icon="fas fa-globe" Color="Color.Success" Class="mb-3" Size="Size.Large"></MudIcon>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Align="Align.Left" Color="@Color.Surface">Custom Components Design Task</MudText>
                        <MudText Typo="Typo.caption" Align="Align.Left" Color="@Color.Default">Low</MudText>
                    </MudCardContent>
                </MudCard>
                <MudCard Elevation="25" Class="rounded-xl mr-5">
                    <MudCardContent Style="width: 160px;" Class="d-flex flex-column mb-1 mt-1">
                        <MudIcon Icon="@Icons.Material.Filled.ImportantDevices" Color="Color.Primary" Class="mb-3" Size="Size.Large"></MudIcon>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Align="Align.Left" Color="@Color.Surface">Design Task Categories Page</MudText>
                        <MudText Typo="Typo.caption" Align="Align.Left" Color="@Color.Default">Medium</MudText>
                    </MudCardContent>
                </MudCard>
                <MudCard Elevation="25" Class="rounded-xl mr-5">
                    <MudCardContent Style="width: 160px;" Class="d-flex flex-column mb-1 mt-1">
                        <MudIcon Icon="fas fa-heartbeat" Color="Color.Tertiary" Class="mb-3" Size="Size.Large"></MudIcon>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Align="Align.Left" Color="@Color.Surface">Implement Chat Module Task</MudText>
                        <MudText Typo="Typo.caption" Align="Align.Left" Color="@Color.Default">Medium</MudText>
                    </MudCardContent>
                </MudCard>
                <MudCard Elevation="25" Class="rounded-xl mr-5">
                    <MudCardContent Style="width: 160px;" Class="d-flex flex-column mb-1 mt-1">
                        <MudIcon Icon="fas fa-shopping-bag" Color="Color.Secondary" Class="mb-3" Size="Size.Large"></MudIcon>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Align="Align.Left" Color="@Color.Surface">Have A Coffee Task</MudText>
                        <MudText Typo="Typo.caption" Align="Align.Left" Color="@Color.Default">Low</MudText>
                    </MudCardContent>
                </MudCard>
                <MudCard Elevation="25" Class="rounded-xl">
                    <MudCardContent Style="width: 160px;" Class="d-flex flex-column mb-1 mt-1">
                        <MudIcon Icon="fas fa-wallet" Color="Color.Warning" Class="mb-3" Size="Size.Large"></MudIcon>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Align="Align.Left" Color="@Color.Surface">Improving UIUX Design Task</MudText>
                        <MudText Typo="Typo.caption" Align="Align.Left" Color="@Color.Default">Medium</MudText>
                    </MudCardContent>
                </MudCard>
            </div>
        </MudItem>
    </MudGrid>

    <div class="d-flex flex-row justify-space-between mt-5 mb-0">
        <MudText Color="Color.Default" Class="mx-3" Style="font-weight: 600;" Typo="Typo.subtitle1">Project TaskList</MudText>
        <MudText Color="Color.Primary" Class="ml-auto" Typo="Typo.subtitle2">View All</MudText>
    </div>
    <MudCard Elevation="25" Class="rounded-xl">
        <MudCardContent Class="my-3 mx-1">
            <MudGrid Spacing="0">
                <MudItem xs="12" sm="12" md="12">
                    <MudText Class="mt-5 mb-3" Typo="Typo.subtitle1" Style="font-weight: 600;" Align="Align.Left" Color="@Color.Default"> Pending</MudText>
                    <MudPaper Elevation="0" Class="d-flex flex-row" Style="background-color: transparent">
                        <MudCheckBox @bind-Checked="@Dense_CheckBox1" Dense="true" Class="mx-0 my-2 align-self-center" Color="Color.Success"></MudCheckBox>
                        <MudText Typo="Typo.subtitle2" Style="font-weight: 500;" Class="mx-3 align-self-center" Color="@Color.Default"> Clean Code </MudText>
                        <MudChip Class="ml-auto mr-0 align-self-center" Color="Color.Primary" Size="Size.Small">Your Task</MudChip>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex flex-row" Style="background-color: transparent">
                        <MudCheckBox @bind-Checked="@Dense_CheckBox2" Dense="true" Class="mx-0 my-2 align-self-center" Color="Color.Success"></MudCheckBox>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Class="mx-3 align-self-center" Color="@Color.Default"> Create Pages </MudText>
                        <MudChip Class="ml-auto mr-0 align-self-center" Color="Color.Warning" Size="Size.Small">Jack Sone</MudChip>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex flex-row" Style="background-color: transparent">
                        <MudCheckBox @bind-Checked="@Dense_CheckBox3" Dense="true" Class="mx-0 my-2 align-self-center" Color="Color.Success"></MudCheckBox>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Class="mx-3 align-self-center" Color="@Color.Default"> Connect To CMS </MudText>
                        <MudChip Class="ml-auto mr-0 align-self-center" Color="Color.Warning" Size="Size.Small">John Doe</MudChip>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudDivider Class="my-5"></MudDivider>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudText Class="mb-3" Typo="Typo.subtitle1" Style="font-weight: 600;" Align="Align.Left" Color="@Color.Default"> Completed</MudText>
                </MudItem>
                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex flex-row" Style="background-color: transparent">
                        <MudCheckBox @bind-Checked="@Dense_CheckBox4" Dense="true" Disabled="true" Class="mx-0 my-2 align-self-center" Color="Color.Success"></MudCheckBox>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Class="mx-3 align-self-center" Color="@Color.Default"> Wireframe </MudText>
                        <MudChip Class="ml-auto mr-0 align-self-center" Color="Color.Tertiary" Size="Size.Small">Approved</MudChip>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex flex-row" Style="background-color: transparent">
                        <MudCheckBox @bind-Checked="@Dense_CheckBox5" Dense="true" Disabled="true" Class="mx-0 my-2 align-self-center" Color="Color.Success"></MudCheckBox>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Class="mx-3 align-self-center" Color="@Color.Default"> Code Framework </MudText>
                        <MudChip Class="ml-auto mr-0 align-self-center" Color="Color.Tertiary" Size="Size.Small">Approved</MudChip>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex flex-row" Style="background-color: transparent">
                        <MudCheckBox @bind-Checked="@Dense_CheckBox6" Dense="true" Disabled="true" Class="mx-0 my-2 align-self-center" Color="Color.Success"></MudCheckBox>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Class="mx-3 align-self-center" Color="@Color.Default"> Install Prerequisites </MudText>
                        <MudChip Class="ml-auto mr-0 align-self-center" Color="Color.Tertiary" Size="Size.Small">Approved</MudChip>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex flex-row" Style="background-color: transparent">
                        <MudCheckBox @bind-Checked="@Dense_CheckBox7" Dense="true" Disabled="true" Class="mx-0 my-2 align-self-center" Color="Color.Success"></MudCheckBox>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Class="mx-3 align-self-center" Color="@Color.Default"> Develop Starter Page </MudText>
                        <MudChip Class="ml-auto mr-0 align-self-center" Color="Color.Tertiary" Size="Size.Small">Approved</MudChip>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudDivider Class="my-5"></MudDivider>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudText Class="mb-3" Typo="Typo.subtitle1" Style="font-weight: 600;" Align="Align.Left" Color="@Color.Default"> Canceled</MudText>
                </MudItem>
                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex flex-row" Style="background-color: transparent">
                        <MudIcon Icon="fas fa-times-circle" Color="Color.Error" Class="mx-0 my-2 align-self-center" Size="Size.Medium"></MudIcon>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Class="mx-3 align-self-center" Color="@Color.Default"> Create Pages </MudText>
                        <MudChip Class="ml-auto mr-0 align-self-center" Color="Color.Error" Size="Size.Small">By You</MudChip>
                    </MudPaper>
                </MudItem>

            </MudGrid>
        </MudCardContent>
    </MudCard>

    <div class="d-flex flex-row justify-space-between mt-10 mb-0">
        <MudText Color="Color.Default" Class="mx-3" Style="font-weight: 600;" Typo="Typo.subtitle1">Project Attachments</MudText>
        <MudText Color="Color.Primary" Class="ml-auto" Typo="Typo.subtitle2">View All</MudText>
    </div>
    <MudCard Elevation="25" Class="rounded-xl">
        <MudCardContent Class="my-3 mx-1">
            <MudGrid Spacing="1">
                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex flex-row" Style="background-color: transparent">
                        <MudIcon Icon="fas fa-file-archive" Color="Color.Primary" Class="mx-0 my-2 align-self-center" Size="Size.Large"></MudIcon>
                        <div class="mx-3 align-self-center">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Class="align-self-center" Color="@Color.Default"> Project Update. </MudText>
                            <MudText Typo="Typo.caption" Align="Align.Left" Color="@Color.Default">315Kb, ZIP Archive</MudText>
                        </div>
                        <MudIcon Icon="@Icons.Material.Outlined.FileDownload" Class="ml-auto mr-0 align-self-center" Color="Color.Default" Size="Size.Small">Approved</MudIcon>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex flex-row" Style="background-color: transparent">
                        <MudIcon Icon="fas fa-file-pdf" Color="Color.Error" Class="mx-0 my-2 align-self-center" Size="Size.Large"></MudIcon>
                        <div class="mx-3 align-self-center">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Class="align-self-center" Color="@Color.Default"> Customer Briefing. </MudText>
                            <MudText Typo="Typo.caption" Align="Align.Left" Color="@Color.Default">315Kb, ZIP Archive</MudText>
                        </div>
                        <MudIcon Icon="@Icons.Material.Outlined.FileDownload" Class="ml-auto mr-0 align-self-center" Color="Color.Default" Size="Size.Small">Approved</MudIcon>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex flex-row" Style="background-color: transparent">
                        <MudIcon Icon="fas fa-file-alt" Color="Color.Default" Class="mx-0 my-2 align-self-center" Size="Size.Large"></MudIcon>
                        <div class="mx-3 align-self-center">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Class="align-self-center" Color="@Color.Default"> Product Licenses </MudText>
                            <MudText Typo="Typo.caption" Align="Align.Left" Color="@Color.Default">315Kb, ZIP Archive</MudText>
                        </div>
                        <MudIcon Icon="@Icons.Material.Outlined.FileDownload" Class="ml-auto mr-0 align-self-center" Color="Color.Default" Size="Size.Small">Approved</MudIcon>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex flex-row" Style="background-color: transparent">
                        <MudIcon Icon="fas fa-file-image" Color="Color.Tertiary" Class="mx-0 my-2 align-self-center" Size="Size.Large"></MudIcon>
                        <div class="mx-3 align-self-center">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Class="align-self-center" Color="@Color.Default"> Design Screenshots. </MudText>
                            <MudText Typo="Typo.caption" Align="Align.Left" Color="@Color.Default">315Kb, ZIP Archive</MudText>
                        </div>                       
                        <MudIcon Icon="@Icons.Material.Outlined.FileDownload" Class="ml-auto mr-0 align-self-center" Color="Color.Default" Size="Size.Small">Approved</MudIcon>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
}