@page "/project-task-cards"
@inject Microsoft.Extensions.Localization.IStringLocalizer<TaskCards> _localizer

@if (!_loaded)
{
    <Spinner></Spinner>
}
else
{
    <MudPaper Elevation="3" Height="150" Class="px-4 mx-n4 mt-n10 py-10 mud-theme-primary" Style="border-radius: 0px 0px 45px 45px;" Outlined="false">
        <MudPaper Elevation="0" Class="py-0">

        </MudPaper>
    </MudPaper>

    <MudCard Elevation="25" Class="mt-n10 rounded-xl">
        <MudCardContent Class="my-3 mx-1">
            <MudGrid Spacing="0">
                <MudItem xs="12">
                    <MudText Typo="Typo.h6" Style="font-weight: 700;" Color="Color.Default">Task Title Sample 1</MudText>
                    <MudText Typo="Typo.caption">1/25 Task Completed </MudText>
                    <MudText Color="Color.Default" Class="mt-3" Typo="Typo.subtitle2">This project is to include the awesome task pack in Azures based on customer requests. We always listen to feedback and we love updating our work.</MudText>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudDivider Class="my-3"></MudDivider>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <div class="d-flex justify-space-between">
                        <MudAvatarGroup Max="@max" Spacing="@spacing" MaxColor="Color.Primary">
                            <MudAvatar Image="/images/pictures/faces/1s.png" />
                            <MudAvatar Image="/images/pictures/faces/2s.png" />
                            <MudAvatar Image="/images/pictures/faces/3s.png" />
                            <MudAvatar Image="/images/pictures/faces/4s.png" />
                        </MudAvatarGroup>
                        <div class="d-flex flex-column">
                            <MudChip Color="Color.Warning" Size="Size.Small">Medium</MudChip>
                            <MudChip Color="Color.Success" Size="Size.Small">Completed</MudChip>
                        </div>
                    </div>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudDivider Class="my-3"></MudDivider>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudProgressLinear Color="Color.Success" Value="100" Min="0" Max="100" />
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudDivider Class="my-3"></MudDivider>
                </MudItem>

                <MudItem xs="12">
                    <MudText Typo="Typo.caption">Start Time 09:00, 15th June </MudText>
                </MudItem>

            </MudGrid>
        </MudCardContent>
    </MudCard>

    <MudCard Elevation="25" Class="mt-7 rounded-xl">
        <MudCardContent Class="my-3 mx-1">
            <MudGrid Spacing="0">
                <MudItem xs="12">
                    <MudText Typo="Typo.h6" Style="font-weight: 700;" Color="Color.Default">Task Title Sample 2</MudText>
                    <MudText Typo="Typo.caption">1/25 Task Completed </MudText>
                    <MudText Color="Color.Default" Class="mt-3" Typo="Typo.subtitle2">This project is to include the awesome task pack in Azures based on customer requests. We always listen to feedback and we love updating our work.</MudText>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudDivider Class="my-3"></MudDivider>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <div class="d-flex justify-space-between">
                        <MudAvatarGroup Max="@max" Spacing="@spacing" MaxColor="Color.Primary">
                            <MudAvatar Image="/images/pictures/faces/1s.png" />
                            <MudAvatar Image="/images/pictures/faces/2s.png" />
                            <MudAvatar Image="/images/pictures/faces/3s.png" />
                            <MudAvatar Image="/images/pictures/faces/4s.png" />
                        </MudAvatarGroup>
                        <div class="d-flex flex-column">
                            <MudChip Color="Color.Error" Size="Size.Small">High</MudChip>
                            <MudChip Color="Color.Primary" Size="Size.Small">Pending</MudChip>
                        </div>
                    </div>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudDivider Class="my-3"></MudDivider>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudProgressLinear Color="Color.Error" Value="35" Min="0" Max="100" />
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudDivider Class="my-3"></MudDivider>
                </MudItem>

                <MudItem xs="12">
                    <MudText Typo="Typo.caption">Start Time 09:00, 15th June </MudText>
                </MudItem>

            </MudGrid>
        </MudCardContent>
    </MudCard>

    <MudCard Elevation="25" Class="mt-7 rounded-xl">
        <MudCardContent Class="my-3 mx-1">
            <MudGrid Spacing="0">
                <MudItem xs="12">
                    <MudText Typo="Typo.h6" Style="font-weight: 700;" Color="Color.Default">Task Title Sample 3</MudText>
                    <MudText Typo="Typo.caption">1/25 Task Completed </MudText>
                    <MudText Color="Color.Default" Class="mt-3" Typo="Typo.subtitle2">This project is to include the awesome task pack in Azures based on customer requests. We always listen to feedback and we love updating our work.</MudText>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudDivider Class="my-3"></MudDivider>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <div class="d-flex justify-space-between">
                        <MudAvatarGroup Max="@max" Spacing="@spacing" MaxColor="Color.Primary">
                            <MudAvatar Image="/images/pictures/faces/1s.png" />
                            <MudAvatar Image="/images/pictures/faces/2s.png" />
                            <MudAvatar Image="/images/pictures/faces/3s.png" />
                            <MudAvatar Image="/images/pictures/faces/4s.png" />
                        </MudAvatarGroup>
                        <div class="d-flex flex-column">
                            <MudChip Color="Color.Tertiary" Size="Size.Small">Low</MudChip>
                            <MudChip Color="Color.Error" Size="Size.Small">Pending</MudChip>
                        </div>
                    </div>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudDivider Class="my-3"></MudDivider>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudProgressLinear Color="Color.Primary" Value="35" Min="0" Max="100" />
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudDivider Class="my-3"></MudDivider>
                </MudItem>

                <MudItem xs="12">
                    <MudText Typo="Typo.caption">Start Time 09:00, 15th June </MudText>
                </MudItem>

            </MudGrid>
        </MudCardContent>
    </MudCard>
}