@page "/project-todo-list"
@inject Microsoft.Extensions.Localization.IStringLocalizer<ToDoList> _localizer

@if (!_loaded)
{
    <Spinner></Spinner>
}
else
{
    <MudPaper Elevation="3" Height="150" Class="px-4 mx-n4 mt-n10 pt-10 mud-theme-primary" Style="border-radius: 0px 0px 35px 35px;" Outlined="false">
        <MudPaper Elevation="0" Class="py-6" Style="background-color: transparent">

        </MudPaper>
    </MudPaper>

    <MudGrid Class="mt-n15 pt-0 mb-1">
        <MudItem xs="12">
            <MudCard Elevation="25" Class="rounded-xl py-3">
                <MudCardContent>
                    <MudText Color="Color.Default" Align="Align.Left" Typo="Typo.body1" Style="font-weight: 400;">Include useful information under each ToDo item as a small subtitle or side note for this todo.</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>

    <MudCard Elevation="25" Class="mt-10 rounded-xl">
        <MudCardContent>
            <MudPaper Elevation="0" Class="px-4 mx-n4 mt-n10 mud-theme-primary" Style="border-radius: 24px 24px 24px 24px;" Outlined="false">
                <div class="py-10">
                    <MudText Typo="Typo.h6" Align="Align.Center" Style="font-weight: 700;" Color="Color.Default">Today Tasks</MudText>
                    <MudText Typo="Typo.body2" Align="Align.Center">Include text or other info under it to provide some detail. These shapes are Awesome! </MudText>
                </div>
            </MudPaper>

            <MudGrid Class="mt-7 mb-3">
                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex pa-0">
                        <MudIconButton Icon="fas fa-heart" Variant="Variant.Filled" Class="ml-0 align-self-center" Color="Color.Error" Size="Size.Medium"></MudIconButton>
                        <MudPaper Elevation="0" Class="pa-0 mx-5 align-self-center">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Create Task Pages</MudText>
                            <MudText Typo="Typo.body2" Style="font-weight: 500;" Color="@Color.Default">Essential for Customers</MudText>
                        </MudPaper>
                        <MudPaper Elevation="0" Class="pa-0 mr-0 ml-auto align-self-center">
                            <MudIcon Icon="@Icons.Material.TwoTone.ArrowRight" Color="Color.Default" Class="mx-3 ml-auto align-self-center" Size="Size.Medium"></MudIcon>
                        </MudPaper>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12">
                    <MudDivider></MudDivider>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex pa-0">
                        <MudIconButton Icon="fas fa-check" Variant="Variant.Filled" Class="ml-0 align-self-center" Color="Color.Success" Size="Size.Medium"></MudIconButton>
                        <MudPaper Elevation="0" Class="pa-0 mx-5 align-self-center">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Create New Page</MudText>
                            <MudText Typo="Typo.body2" Style="font-weight: 500;" Color="@Color.Default">With New Design Patterns</MudText>
                        </MudPaper>
                        <MudPaper Elevation="0" Class="pa-0 mr-0 ml-auto align-self-center">
                            <MudIcon Icon="@Icons.Material.TwoTone.ArrowRight" Color="Color.Default" Class="mx-3 ml-auto align-self-center" Size="Size.Medium"></MudIcon>
                        </MudPaper>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12">
                    <MudDivider></MudDivider>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex pa-0">
                        <MudIconButton Icon="fas fa-gem" Variant="Variant.Filled" Class="ml-0 align-self-center" Color="Color.Info" Size="Size.Medium"></MudIconButton>
                        <MudPaper Elevation="0" Class="pa-0 mx-5 align-self-center">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Upgrade Components</MudText>
                            <MudText Typo="Typo.body2" Style="font-weight: 500;" Color="@Color.Default">More Powerful Features</MudText>
                        </MudPaper>
                        <MudPaper Elevation="0" Class="pa-0 mr-0 ml-auto align-self-center">
                            <MudIcon Icon="@Icons.Material.TwoTone.ArrowRight" Color="Color.Default" Class="mx-3 ml-auto align-self-center" Size="Size.Medium"></MudIcon>
                        </MudPaper>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12">
                    <MudDivider></MudDivider>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex pa-0">
                        <MudIconButton Icon="fas fa-bolt" Variant="Variant.Filled" Class="ml-0 align-self-center" Color="Color.Warning" Size="Size.Medium"></MudIconButton>
                        <MudPaper Elevation="0" Class="pa-0 mx-5 align-self-center">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Load Faster</MudText>
                            <MudText Typo="Typo.body2" Style="font-weight: 500;" Color="@Color.Default">More Powerful Features</MudText>
                        </MudPaper>
                        <MudPaper Elevation="0" Class="pa-0 mr-0 ml-auto align-self-center">
                            <MudIcon Icon="@Icons.Material.TwoTone.ArrowRight" Color="Color.Default" Class="mx-3 ml-auto align-self-center" Size="Size.Medium"></MudIcon>
                        </MudPaper>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12">
                    <MudDivider></MudDivider>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex pa-0">
                        <MudIconButton Icon="fas fa-mobile-alt" Variant="Variant.Filled" Class="ml-0 align-self-center" Color="Color.Success" Size="Size.Medium"></MudIconButton>
                        <MudPaper Elevation="0" Class="pa-0 mx-5 align-self-center">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Release PWA Version</MudText>
                            <MudText Typo="Typo.body2" Style="font-weight: 500;" Color="@Color.Default">More Powerful Features</MudText>
                        </MudPaper>
                        <MudPaper Elevation="0" Class="pa-0 mr-0 ml-auto align-self-center">
                            <MudIcon Icon="@Icons.Material.TwoTone.ArrowRight" Color="Color.Default" Class="mx-3 ml-auto align-self-center" Size="Size.Medium"></MudIcon>
                        </MudPaper>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12">
                    <MudDivider></MudDivider>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex pa-0">
                        <MudIconButton Icon="fas fa-book" Variant="Variant.Filled" Class="ml-0 align-self-center" Color="Color.Tertiary" Size="Size.Medium"></MudIconButton>
                        <MudPaper Elevation="0" Class="pa-0 mx-5 align-self-center">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Update Documentation</MudText>
                            <MudText Typo="Typo.body2" Style="font-weight: 500;" Color="@Color.Default">Easier and More Details</MudText>
                        </MudPaper>
                        <MudPaper Elevation="0" Class="pa-0 mr-0 ml-auto align-self-center">
                            <MudIcon Icon="@Icons.Material.TwoTone.ArrowRight" Color="Color.Default" Class="mx-3 ml-auto align-self-center" Size="Size.Medium"></MudIcon>
                        </MudPaper>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>

    <MudCard Elevation="25" Class="mt-7 rounded-xl">
        <MudCardContent>
            <MudGrid Class="mb-3">
                <MudItem xs="12">
                    <MudText Typo="Typo.h6" Style="font-weight: 700;" Color="Color.Default">Overdue Tasks</MudText>
                    <MudText Typo="Typo.caption">Marked as Important for Today. </MudText>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex pa-0">
                        <MudIconButton Icon="fas fa-heart" Variant="Variant.Filled" Class="ml-0 align-self-center" Color="Color.Error" Size="Size.Medium"></MudIconButton>
                        <MudPaper Elevation="0" Class="pa-0 mx-5 align-self-center">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Create Task Pages</MudText>
                            <MudText Typo="Typo.body2" Style="font-weight: 500;" Color="@Color.Default">Essential for Customers</MudText>
                        </MudPaper>
                        <MudPaper Elevation="0" Class="pa-0 mr-0 ml-auto align-self-center">
                            <MudIcon Icon="@Icons.Material.TwoTone.ArrowRight" Color="Color.Default" Class="mx-3 ml-auto align-self-center" Size="Size.Medium"></MudIcon>
                        </MudPaper>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12">
                    <MudDivider></MudDivider>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex pa-0">
                        <MudIconButton Icon="fas fa-check" Variant="Variant.Filled" Class="ml-0 align-self-center" Color="Color.Success" Size="Size.Medium"></MudIconButton>
                        <MudPaper Elevation="0" Class="pa-0 mx-5 align-self-center">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Create New Page</MudText>
                            <MudText Typo="Typo.body2" Style="font-weight: 500;" Color="@Color.Default">With New Design Patterns</MudText>
                        </MudPaper>
                        <MudPaper Elevation="0" Class="pa-0 mr-0 ml-auto align-self-center">
                            <MudIcon Icon="@Icons.Material.TwoTone.ArrowRight" Color="Color.Default" Class="mx-3 ml-auto align-self-center" Size="Size.Medium"></MudIcon>
                        </MudPaper>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12">
                    <MudDivider></MudDivider>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex pa-0">
                        <MudIconButton Icon="fas fa-gem" Variant="Variant.Filled" Class="ml-0 align-self-center" Color="Color.Info" Size="Size.Medium"></MudIconButton>
                        <MudPaper Elevation="0" Class="pa-0 mx-5 align-self-center">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Upgrade Components</MudText>
                            <MudText Typo="Typo.body2" Style="font-weight: 500;" Color="@Color.Default">More Powerful Features</MudText>
                        </MudPaper>
                        <MudPaper Elevation="0" Class="pa-0 mr-0 ml-auto align-self-center">
                            <MudIcon Icon="@Icons.Material.TwoTone.ArrowRight" Color="Color.Default" Class="mx-3 ml-auto align-self-center" Size="Size.Medium"></MudIcon>
                        </MudPaper>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12">
                    <MudDivider></MudDivider>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex pa-0">
                        <MudIconButton Icon="fas fa-bolt" Variant="Variant.Filled" Class="ml-0 align-self-center" Color="Color.Warning" Size="Size.Medium"></MudIconButton>
                        <MudPaper Elevation="0" Class="pa-0 mx-5 align-self-center">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Load Faster</MudText>
                            <MudText Typo="Typo.body2" Style="font-weight: 500;" Color="@Color.Default">More Powerful Features</MudText>
                        </MudPaper>
                        <MudPaper Elevation="0" Class="pa-0 mr-0 ml-auto align-self-center">
                            <MudIcon Icon="@Icons.Material.TwoTone.ArrowRight" Color="Color.Default" Class="mx-3 ml-auto align-self-center" Size="Size.Medium"></MudIcon>
                        </MudPaper>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12">
                    <MudDivider></MudDivider>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex pa-0">
                        <MudIconButton Icon="fas fa-mobile-alt" Variant="Variant.Filled" Class="ml-0 align-self-center" Color="Color.Success" Size="Size.Medium"></MudIconButton>
                        <MudPaper Elevation="0" Class="pa-0 mx-5 align-self-center">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Release PWA Version</MudText>
                            <MudText Typo="Typo.body2" Style="font-weight: 500;" Color="@Color.Default">More Powerful Features</MudText>
                        </MudPaper>
                        <MudPaper Elevation="0" Class="pa-0 mr-0 ml-auto align-self-center">
                            <MudIcon Icon="@Icons.Material.TwoTone.ArrowRight" Color="Color.Default" Class="mx-3 ml-auto align-self-center" Size="Size.Medium"></MudIcon>
                        </MudPaper>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12">
                    <MudDivider></MudDivider>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex pa-0">
                        <MudIconButton Icon="fas fa-book" Variant="Variant.Filled" Class="ml-0 align-self-center" Color="Color.Tertiary" Size="Size.Medium"></MudIconButton>
                        <MudPaper Elevation="0" Class="pa-0 mx-5 align-self-center">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Update Documentation</MudText>
                            <MudText Typo="Typo.body2" Style="font-weight: 500;" Color="@Color.Default">Easier and More Details</MudText>
                        </MudPaper>
                        <MudPaper Elevation="0" Class="pa-0 mr-0 ml-auto align-self-center">
                            <MudIcon Icon="@Icons.Material.TwoTone.ArrowRight" Color="Color.Default" Class="mx-3 ml-auto align-self-center" Size="Size.Medium"></MudIcon>
                        </MudPaper>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
}