@page "/account/forgot-password"
@layout MainLayout
@attribute [AllowAnonymous]
@inject Microsoft.Extensions.Localization.IStringLocalizer<Forgot> _localizer

<div class="login-one">
        <div class="d-flex justify-center">
            <MudContainer Class="mt-10" MaxWidth="MaxWidth.Small">
                <MudPaper Class="rounded-lg pa-5">
                    <EditForm Model="@_emailModel" OnValidSubmit="SubmitAsync">
                                <FluentValidationValidator @ref="_fluentValidationValidator" />
                                <MudGrid>
                                    <MudItem xs="12">
                                        <div class="d-flex justify-center">
                                            <DCMSLogo/>
                                        </div>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <div class="d-flex justify-center mb-5">
                                            <MudLink Href="/landing" Typo="Typo.h5" Color="Color.Primary" Style="font-weight: 600;">@_localizer["DCMS.Blazor"]</MudLink>
                                        </div>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <div class="d-flex justify-center">
                                            <MudText Typo="Typo.subtitle2" Class="mb-n4" >@_localizer["Enter email for password reset"]</MudText>
                                        </div>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudTextField Label="@_localizer["E-mail"]" @bind-Value="_emailModel.Email" For="@(() => _emailModel.Email)" Margin="Margin.Dense" AdornmentColor="Color.Primary" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Lock" Variant="Variant.Filled"></MudTextField>
                                    </MudItem>
                                    <MudItem xs="12" Class="d-flex justify-center">
                                        <MudButton Variant="Variant.Filled" Disabled="@(!Validated)" Color="Color.Primary" Size="Size.Large" ButtonType="ButtonType.Submit" FullWidth="true">@_localizer["Reset Password"]</MudButton>
                                    </MudItem>
                                </MudGrid>
                            </EditForm>
                                <div class="d-flex flex-row justify-center mt-5">
                                    <MudText Class="align-self-center mr-2" Color="Color.Inherit" Align="Align.Center">@_localizer["Back to"]</MudText>
                                    <MudLink Href="/login" Underline="Underline.Hover" Color="Color.Primary">@_localizer["Sign In"]</MudLink>
                                </div>
                </MudPaper>
            </MudContainer>
        </div>
    </div>
