@page "/account/reset-password/"
@layout MainLayout
@attribute [AllowAnonymous]
@inject Microsoft.Extensions.Localization.IStringLocalizer<Reset> _localizer

<MudPaper Elevation="4" Class="mx-3 pa-5 mt-auto mb-auto d-flex rounded-lg align-self-center justify-center">
    <MudPaper Elevation="3" Class="mx-3 pa-5 mt-auto mb-auto d-flex rounded-lg align-self-center justify-center">
        <EditForm Model="@_resetPasswordModel" OnValidSubmit="SubmitAsync">
            <FluentValidationValidator @ref="_fluentValidationValidator" />
            <MudGrid>
                <MudItem xs="12">
                    <div class="d-flex justify-center">
                        @*<MudIcon Color="Color.Primary" Size="Size.Large" ViewBox="0 0 500 500" Style="width: 100px; height: 100px;" />*@
                    </div>
                </MudItem>
                <MudItem xs="12">
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h4">重置密码</MudText>
                    </div>
                </MudItem>
                <MudItem xs="12">
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.subtitle2" Class="mb-n4">输入电子邮件重置密码</MudText>
                    </div>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="string"  @bind-Value="_resetPasswordModel.Email" For="@(() => _resetPasswordModel.Email)" Variant="Variant.Outlined" />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="string" @bind-Value="_resetPasswordModel.Password" For="@(() => _resetPasswordModel.Password)" Variant="Variant.Outlined" InputType="@_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="TogglePasswordVisibility" />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="string" Label="确认密码" @bind-Value="_resetPasswordModel.ConfirmPassword" For="@(() => _resetPasswordModel.ConfirmPassword)" Variant="Variant.Outlined" InputType="InputType.Password" />
                </MudItem>
                <MudItem xs="12" Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Disabled="@(!Validated)" Color="Color.Primary" ButtonType="ButtonType.Submit" Size="Size.Large" FullWidth="true">重置密码</MudButton>
                </MudItem>
            </MudGrid>
        </EditForm>
    </MudPaper>
</MudPaper>

