@page "/components/pickers"
@using DCMS.Application.Models
@inject Microsoft.Extensions.Localization.IStringLocalizer<Pickers> _localizer
@using MudBlazor.Utilities
@using System.Globalization
@using System.Reflection

<MudText Color="Color.Default" Class="mt-1 mb-1" Typo="Typo.h6"> Color Picker </MudText>
<MudText Color="Color.Default" Typo="Typo.caption"> A short description of the component. </MudText>
<MudGrid Spacing="1">
    <MudItem xs="12">
        <MudText Typo="Typo.subtitle1">Basic Usage</MudText>
    </MudItem>
    <MudItem xs="12">
        <MudColorPicker Label="Basic Color Picker" @bind-Text="_colorValue" Style="@($"color: {_colorValue};")" Placeholder="Select Color" />
    </MudItem>
    <MudItem xs="12">
        <MudText Typo="Typo.subtitle1">Parts</MudText>
    </MudItem>
    <MudItem xs="12">
        <MudGrid>
            <MudItem md="8" Class="d-flex justify-center">
                <MudColorPicker DisableToolbar="DisableToolbar" DisableAlpha="DisableAlpha" DisableColorField="DisableColorField" DisablePreview="DisablePreview" DisableSliders="DisableSliders" DisableInputs="DisableInputs" DisableModeSwitch="DisableModeSwitch" ColorPickerMode="ColorPickerMode" PickerVariant="PickerVariant.Static" />
            </MudItem>
            <MudItem md="4">
                <MudPaper Height="400px" Class="px-4 pt-2 pb-4">
                    <MudText Typo="Typo.subtitle1">Options</MudText>
                    <MudCheckBox @bind-Checked="@DisableToolbar" Label="Disable Toolbar" Color="Color.Primary" Dense="true" />
                    <MudCheckBox @bind-Checked="@DisableAlpha" Label="Disable Alpha" Color="Color.Primary" Dense="true" />
                    <MudCheckBox @bind-Checked="@DisableColorField" Label="Disable Color Field" Color="Color.Primary" Dense="true" />
                    <MudCheckBox @bind-Checked="@DisablePreview" Label="Disable Preview" Color="Color.Primary" Dense="true" />
                    <MudCheckBox @bind-Checked="@DisableSliders" Label="Disable Sliders" Color="Color.Primary" Dense="true" />
                    <MudCheckBox @bind-Checked="@DisableInputs" Label="Disable Inputs" Color="Color.Primary" Dense="true" />
                    <MudCheckBox @bind-Checked="@DisableModeSwitch" Label="Disable Mode Switch" Color="Color.Primary" Dense="true" />
                    <MudSelect Label="Color Picker Mode" Variant="Variant.Outlined" OffsetY="true" Dense="true" Margin="Margin.Dense" @bind-Value="ColorPickerMode" Class="mt-4">
                        <MudSelectItem T="ColorPickerMode" Value="ColorPickerMode.RGB">RGB</MudSelectItem>
                        <MudSelectItem T="ColorPickerMode" Value="ColorPickerMode.HSL">HSL</MudSelectItem>
                        <MudSelectItem T="ColorPickerMode" Value="ColorPickerMode.HEX">HEX</MudSelectItem>
                    </MudSelect>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudItem>
    <MudItem xs="12">
        <MudText Typo="Typo.subtitle1" Class="mt-5">Color Picker View</MudText>
    </MudItem>
    <MudItem xs="12">
        <MudGrid>
            <MudItem xs="12" sm="6" md="3">
                <MudColorPicker Label="Spectrum" ColorPickerView="ColorPickerView.Spectrum" />
            </MudItem>
            <MudItem xs="12" sm="6" md="3">
                <MudColorPicker Label="Palette" ColorPickerView="ColorPickerView.Palette" />
            </MudItem>
            <MudItem xs="12" sm="6" md="3">
                <MudColorPicker Label="Grid" ColorPickerView="ColorPickerView.Grid" />
            </MudItem>
            <MudItem xs="12" sm="6" md="3">
                <MudColorPicker Label="Compact Grid" ColorPickerView="ColorPickerView.GridCompact" />
            </MudItem>
        </MudGrid>
    </MudItem>
    <MudItem xs="12">
        <MudText Typo="Typo.subtitle1" Class="mt-5">Color Picker Mode</MudText>
    </MudItem>
    <MudItem xs="12">
        <MudColorPicker Label="HSL" ColorPickerMode="ColorPickerMode.HSL" DisableModeSwitch="true" />
    </MudItem>
    <MudItem xs="12">
        <MudText Typo="Typo.subtitle1" Class="mt-5">Example Usage</MudText>
    </MudItem>
    <MudItem xs="12">
        <MudPaper Elevation="0" Class="mud-width-full mud-height-full d-flex justify-center align-end pb-8" MinHeight="600px" Style="@($"background-image:linear-gradient({degrees}deg, {_gradientPrimary.ToString(MudColorOutputFormats.RGBA)} 0%, {_gradientSecondary.ToString(MudColorOutputFormats.RGBA)} 100%);")">
            <MudPaper Class="d-flex">
                <MudColorPicker Rounded="true" Class="rounded-tr-0" PickerVariant="PickerVariant.Static" DisableModeSwitch="true" Value="_pickerColor" ValueChanged="UpdateSelectedColor" />
                <div class="pa-2">
                    <MudText Typo="Typo.subtitle1" Class="mx-1">Gradient Colors</MudText>

                    <MudList Clickable="true" SelectedItemChanged="ChangeSelectedColor">
                        <MudListItem Text="1">
                            <div class="mud-width-full rounded py-4" style="@($"background-color:{_gradientPrimary};")"></div>
                        </MudListItem>
                        <MudListItem Text="2">
                            <div class="mud-width-full rounded py-4" style="@($"background-color:{_gradientSecondary};")"></div>
                        </MudListItem>
                    </MudList>
                    <MudSlider Min="0" Max="360" Step="1" @bind-Value="@degrees" Class="px-2">Degrees</MudSlider>
                </div>
            </MudPaper>
        </MudPaper>
    </MudItem>
</MudGrid>

<MudDivider Class="my-3"/>

<MudText Color="Color.Default" Class="mt-5 mb-1" Typo="Typo.h6"> Date Picker </MudText>
<MudText Color="Color.Default" Typo="Typo.caption"> Provides the user with a simple way to select a date. </MudText>
<MudGrid Spacing="1">
    <MudItem xs="12">
        <MudText Typo="Typo.subtitle1" Class="mt-5">Basic Usage</MudText>
    </MudItem>
    <MudItem xs="12">
        <MudGrid>
            <MudItem xs="12" sm="6" md="4">
                <MudDatePicker Label="Basic example" @bind-Date="date" ReadOnly="@readOnly" />
                <MudSwitch @bind-Checked="@readOnly" Color="Color.Tertiary">ReadOnly</MudSwitch>
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudDatePicker Label="Editable with Placeholder" Editable="true" @bind-Date="date" Placeholder="Select Date" />
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudDatePicker Label="Only Calendar" @bind-Date="date" DisableToolbar="true" HelperText="No header" />
            </MudItem>
        </MudGrid>
        <MudGrid>
            <MudItem xs="12" sm="6" md="4">
                <MudDatePicker Label="Date Format" @bind-Date="date" HelperText="For custom cultures" DateFormat="dd/MM/yyyy" />
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudDatePicker Label="Show week number" ShowWeekNumbers="true" @bind-Date="date" />
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudDatePicker Label="Display two months" DisplayMonths="2" TitleDateFormat="dddd, dd MMMM" @bind-Date="date" />
            </MudItem>
        </MudGrid>
        <MudGrid>
            <MudItem xs="12" sm="6" md="4">
                <MudDatePicker @ref="_picker" Label="With action buttons" @bind-Date="date" AutoClose="@autoClose">
                    <PickerActions>
                        <MudButton Class="mr-auto align-self-start" OnClick="@(() => _picker.Clear())">Clear</MudButton>
                        <MudButton OnClick="@(() => _picker.Close(false))">Cancel</MudButton>
                        <MudButton Color="Color.Primary" OnClick="@(() => _picker.Close())">Ok</MudButton>
                    </PickerActions>
                </MudDatePicker>
                <MudSwitch @bind-Checked="@autoClose" Color="Color.Secondary">AutoClose</MudSwitch>
            </MudItem>
        </MudGrid>
    </MudItem>
    <MudItem xs="12">
        <MudText Typo="Typo.subtitle1" Class="mt-5">Internationalization</MudText>
    </MudItem>
    <MudItem xs="12">
        <MudGrid>
            <MudItem xs="12" sm="6" md="4">
                <MudDatePicker Label="Current UI Culture" @bind-Date="date2" />
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudDatePicker Label="Persian" @bind-Date="date" Culture="@GetPersianCulture()" UseShortNames="false" TitleDateFormat="dddd, dd MMMM" />
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudDatePicker Label="Chinese" @bind-Date="date" Culture="@CultureInfo.GetCultureInfo("zh-Hans")" TitleDateFormat="dddd, dd MMMM" />
            </MudItem>
        </MudGrid>
    </MudItem>
    <MudItem xs="12">
        <MudText Typo="Typo.subtitle1" Class="mt-5">Dialog Mode</MudText>
    </MudItem>
    <MudItem xs="12">
        <MudGrid>
            <MudItem xs="12" sm="6" md="4">
                <MudDatePicker PickerVariant="PickerVariant.Dialog" Label="Picker example" Text="2020-10-19" />
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudDatePicker PickerVariant="PickerVariant.Dialog" Label="Only Calendar" Text="2020-10-19" DisableToolbar="true" HelperText="No header" />
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudDatePicker PickerVariant="PickerVariant.Dialog" Label="Date Format" HelperText="For custom cultures" DateFormat="dd/MM/yyyy" Date="@(new System.DateTime(2020,10,19))" />
            </MudItem>
        </MudGrid>
    </MudItem>
    <MudItem xs="12">
        <MudText Typo="Typo.subtitle1" Class="mt-5">Static Mode</MudText>
    </MudItem>
    <MudItem xs="12">
        <MudDatePicker PickerVariant="PickerVariant.Static" Date="@(DateTime.Today.AddDays(1))" />
        <MudHidden Breakpoint="@Breakpoint.Xs">
            <MudDatePicker PickerVariant="PickerVariant.Static" Orientation="Orientation.Landscape" Date="@(DateTime.Today.AddDays(1))" />
        </MudHidden>
    </MudItem>
    <MudItem xs="12">
        <MudText Typo="Typo.subtitle1" Class="mt-5">Colors</MudText>
    </MudItem>
    <MudItem xs="12">
        <MudDatePicker PickerVariant="PickerVariant.Static" Color="Color.Success" Rounded="true" Date="@(DateTime.Today.AddDays(1))" />
        <MudDatePicker PickerVariant="PickerVariant.Static" Color="Color.Secondary" Rounded="true" Date="@(DateTime.Today.AddDays(1))" />
    </MudItem>
</MudGrid>

<MudDivider Class="my-3"/>

<MudText Color="Color.Default" Class="mt-5 mb-1" Typo="Typo.h6"> Time Picker </MudText>
<MudText Color="Color.Default" Typo="Typo.caption"> Provides the user with a simple way to select time. </MudText>
<MudGrid Spacing="1">
    <MudItem xs="12">
        <MudText Typo="Typo.subtitle1" Class="mt-5">Basic Usage</MudText>
    </MudItem>
    <MudItem xs="12">
        <MudGrid>
            <MudItem xs="12" sm="6" md="4">
                <MudTimePicker Label="12 hours" AmPm="true" @bind-Time="time" ReadOnly="@readOnly" />
                <MudSwitch @bind-Checked="@readOnly3" Color="Color.Tertiary">ReadOnly</MudSwitch>
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudTimePicker Label="12 hours custom format" AmPm="true" TimeFormat="h:mm tt" @bind-Time="time" />
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudTimePicker Label="24 hours" @bind-Time="time" />
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudTimePicker Label="24 hours (editable)" Editable="true" />
            </MudItem>
            <MudItem xs="12" sm="6" md="4">
                <MudTimePicker @ref="_picker3" Label="With action buttons" AutoClose="@autoClose3">
                    <PickerActions>
                        <MudButton Class="mr-auto align-self-start" OnClick="@(() => _picker.Clear())">Clear</MudButton>
                        <MudButton OnClick="@(() => _picker.Close(false))">Cancel</MudButton>
                        <MudButton Color="Color.Primary" OnClick="@(() => _picker.Close())">Ok</MudButton>
                    </PickerActions>
                </MudTimePicker>
                <MudSwitch @bind-Checked="@autoClose3" Color="Color.Secondary">AutoClose</MudSwitch>
            </MudItem>
        </MudGrid>
    </MudItem>
    <MudItem xs="12">
        <MudText Typo="Typo.subtitle1" Class="mt-5">Dialog Mode</MudText>
    </MudItem>
    <MudItem xs="12">
        <MudGrid>
            <MudItem xs="12" sm="6">
                <MudTimePicker PickerVariant="PickerVariant.Dialog" Label="12 hours" AmPm="true" @bind-Time="time" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudTimePicker PickerVariant="PickerVariant.Dialog" Label="24 hours" @bind-Time="time" />
            </MudItem>
        </MudGrid>
    </MudItem>
    <MudItem xs="12">
        <MudText Typo="Typo.subtitle1" Class="mt-5">Static Mode</MudText>
    </MudItem>
    <MudItem xs="12">
        <MudTimePicker PickerVariant="PickerVariant.Static" @bind-Time="time" AmPm="true" />
        <MudHidden Breakpoint="@Breakpoint.Xs">
            <MudTimePicker PickerVariant="PickerVariant.Static" Orientation="Orientation.Landscape" @bind-Time="time" />
        </MudHidden>
    </MudItem>
    <MudItem xs="12">
        <MudText Typo="Typo.subtitle1" Class="mt-5">Open to Minutes</MudText>
    </MudItem>
    <MudItem xs="12">
        <MudTimePicker Label="Minutes" Text="13:37" OpenTo="OpenTo.Minutes" />
    </MudItem>
    <MudItem xs="12">
        <MudText Typo="Typo.subtitle1" Class="mt-5">Colors</MudText>
    </MudItem>
    <MudItem xs="12">
        <MudTimePicker PickerVariant="PickerVariant.Static" Color="Color.Success" Rounded="true" Text="03:37 PM" AmPm="true" />
        <MudTimePicker PickerVariant="PickerVariant.Static" Color="Color.Secondary" Rounded="true" Text="13:37" />
    </MudItem>
</MudGrid>

@code {
    //1. Color Picker
    private string _colorValue;
    public bool DisableToolbar { get; set; } = true;
    public bool DisableAlpha { get; set; }
    public bool DisableColorField { get; set; }
    public bool DisablePreview { get; set; }
    public bool DisableSliders { get; set; }
    public bool DisableInputs { get; set; }
    public bool DisableModeSwitch { get; set; }
    public ColorPickerMode ColorPickerMode { get; set; }
    //Example usage
    public MudColor _gradientPrimary = "#594AE2";
    public MudColor _gradientSecondary = "#FF4081";
    public MudColor _pickerColor = "#594AE2";
    int degrees = 90;
    bool _isFirstColor = true;
    public void ChangeSelectedColor(MudListItem item)
    {
        if (item.Text == "1")
        {
            _isFirstColor = true;
            _pickerColor = _gradientPrimary;
            UpdateSelectedColor(_gradientPrimary);
        }
        else if (item.Text == "2")
        {
            _isFirstColor = false;
            _pickerColor = _gradientSecondary;
            UpdateSelectedColor(_gradientSecondary);
        }
    }
    public void UpdateSelectedColor(MudColor value)
    {
        _pickerColor = value;
        if (_isFirstColor)
        {
            _gradientPrimary = value;
        }
        else
        {
            _gradientSecondary = value;
        }
    }

    //2. Date Picker
    MudDatePicker _picker;
    DateTime? date = DateTime.Today;
    private bool autoClose;
    private bool readOnly;

    //Internationalization
    DateTime? date2 = new DateTime(2021, 02, 14); // 1399-11-26 in Persian calendar

    public CultureInfo GetPersianCulture()
    {
        var culture = new CultureInfo("fa-IR");
        DateTimeFormatInfo formatInfo = culture.DateTimeFormat;
        formatInfo.AbbreviatedDayNames = new[] { "ی", "د", "س", "چ", "پ", "ج", "ش" };
        formatInfo.DayNames = new[] { "یکشنبه", "دوشنبه", "سه شنبه", "چهار شنبه", "پنجشنبه", "جمعه", "شنبه" };
        var monthNames = new[]
        {
            "فروردین", "اردیبهشت", "خرداد", "تیر", "مرداد", "شهریور", "مهر", "آبان", "آذر", "دی", "بهمن",
            "اسفند",
            "",
        };
        formatInfo.AbbreviatedMonthNames =
            formatInfo.MonthNames =
                formatInfo.MonthGenitiveNames = formatInfo.AbbreviatedMonthGenitiveNames = monthNames;
        formatInfo.AMDesignator = "ق.ظ";
        formatInfo.PMDesignator = "ب.ظ";
        formatInfo.ShortDatePattern = "yyyy/MM/dd";
        formatInfo.LongDatePattern = "dddd, dd MMMM,yyyy";
        formatInfo.FirstDayOfWeek = DayOfWeek.Saturday;
        System.Globalization.Calendar cal = new PersianCalendar();
        FieldInfo fieldInfo = culture.GetType().GetField("calendar", BindingFlags.NonPublic | BindingFlags.Instance);
        if (fieldInfo != null)
            fieldInfo.SetValue(culture, cal);
        FieldInfo info = formatInfo.GetType().GetField("calendar", BindingFlags.NonPublic | BindingFlags.Instance);
        if (info != null)
            info.SetValue(formatInfo, cal);
        culture.NumberFormat.NumberDecimalSeparator = "/";
        culture.NumberFormat.DigitSubstitution = DigitShapes.NativeNational;
        culture.NumberFormat.NumberNegativePattern = 0;
        return culture;
    }

    //3. Time Picker
    MudTimePicker _picker3;
    TimeSpan? time = new TimeSpan(00, 45, 00);
    private bool autoClose3;
    private bool readOnly3;


}

