@namespace DCMS.Client.Shared.Components
@inherits MudBaseSelectItem

<NavLink @onclick="@HandleNavigation"
         @attributes="@Attributes"
         Match="@Match"
         ActiveClass="active-nav">
    @if (!string.IsNullOrEmpty(Icon))
    {
        <MudIcon Icon="@Icon" Color="@IconColor" />
    }

    @*<span>@ChildContent</span>*@@*<MudText Typo="Typo.subtitle1" Align="Align.Center">Store</MudText>*@
    @if (Parent.ShowMenuTitle)
    {
        <span>@Title</span>
    }

    <strong></strong>

</NavLink>