@page "/learning-style1"
@inject Microsoft.Extensions.Localization.IStringLocalizer<CourseStyle1> _localizer

@if (!_loaded)
{
    <Spinner></Spinner>
}
else
{
    <MudPaper Elevation="3" Height="150" Class="px-4 mx-n4 mt-n10 py-10 mud-theme-primary" Style="border-radius: 0px 0px 45px 45px;" Outlined="false">
        <MudPaper Elevation="0" Class="py-0">

        </MudPaper>
    </MudPaper>

    <MudGrid Class="mt-n15 pt-0 mb-1">
        <MudItem xs="12">
            <MudCard Class="rounded-xl mr-5" Style="width: 100%;">
                    <MudCardMedia Image="images/13w.jpg" Height="160" />
                    <MudCardContent Style="width: 310px;">
                        <div class="d-flex justify-space-between">
                            <div>
                                <MudText Typo="Typo.caption" Color="Color.Primary">Graphic Design</MudText>
                                <MudText Typo="Typo.h6" Style="font-weight: 600;" Class="mt-n2">Type Course</MudText>
                            </div>
                            <div>
                                <MudText Typo="Typo.h6" Style="font-weight: 600;" Class="mb-n2">$99</MudText>
                                <MudText Typo="Typo.caption">Premium</MudText>
                            </div>
                        </div>
                        <MudText Typo="Typo.body2">Learn what makes great typography great. All from fonts to sizes and line heights.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Color="Color.Primary" Label="true">3 Videos - 1hrs 30min</MudChip>
                        <MudChip Icon="@Icons.Material.Filled.PlayCircle" Color="Color.Error" Label="true">Start</MudChip>
                    </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>

    <MudCard Elevation="25" Class="my-5 d-flex flex-row rounded-xl">
        <MudText Typo="Typo.h5" Style="font-weight: 600;" Class="ma-3 pa-3" Color="@Color.Default">01</MudText>
        <MudPaper Elevation="0" Class="pa-0 align-self-center">
           <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Default">Introduction</MudText>
           <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Primary" Class="mud-text-primary">Front Row Seats </MudText>
        </MudPaper>
        <MudPaper Elevation="0" Class="pa-0 mr-2 ml-auto align-self-center">
           <MudChip Class="px-2 align-self-center" Size="Size.Small" Label="true" Color="Color.Tertiary">FREE</MudChip>
        </MudPaper>        
    </MudCard>

    <MudCard Elevation="25" Class="my-5 d-flex flex-row rounded-xl">
        <MudText Typo="Typo.h5" Style="font-weight: 600;" Class="ma-3 pa-3" Color="@Color.Default">02</MudText>
        <MudPaper Elevation="0" Class="pa-0 align-self-center">
           <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Default">Applied Types</MudText>
           <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Primary" Class="mud-text-primary">Up in the Sky, Ever-seeing. </MudText>
        </MudPaper>
        <MudPaper Elevation="0" Class="pa-0 mr-2 ml-auto align-self-center">
           <MudChip Class="px-2 align-self-center" Size="Size.Small" Label="true" Color="Color.Tertiary">FREE</MudChip>
        </MudPaper>        
    </MudCard>

    <MudCard Elevation="25" Class="my-5 d-flex flex-row rounded-xl">
        <MudText Typo="Typo.h5" Style="font-weight: 600;" Class="ma-3 pa-3" Color="@Color.Default">03</MudText>
        <MudPaper Elevation="0" Class="pa-0 align-self-center">
           <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Default">Sample Materials</MudText>
           <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Primary" Class="mud-text-primary">Download what you learned. </MudText>
        </MudPaper>
        <MudPaper Elevation="0" Class="pa-0 mr-2 ml-auto align-self-center">
           <MudChip Class="px-2 align-self-center" Size="Size.Small" Label="true" Color="Color.Error">$15.90</MudChip>
        </MudPaper>        
    </MudCard>

    <MudDivider Class="my-2"></MudDivider>

    <MudCard Elevation="25" Class="my-5 pa-3 rounded-xl">
        <MudPaper Elevation="0" Class="d-flex flex-row rounded-xl">
            <MudText Typo="Typo.h5" Style="font-weight: 600;" Class="ma-3 pa-3" Color="@Color.Default">01</MudText>
            <MudPaper Elevation="0" Class="pa-0 align-self-center">
               <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Default">Introduction</MudText>
               <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Primary" Class="mud-text-primary">Front Row Seats </MudText>
            </MudPaper>
            <MudPaper Elevation="0" Class="pa-0 mr-2 ml-auto align-self-center">
               <MudChip Class="px-2 align-self-center" Size="Size.Small" Label="true" Color="Color.Error">2h, 25min</MudChip>
            </MudPaper>        
        </MudPaper>
        <MudText Typo="Typo.caption" Color="@Color.Default">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque gravida aliquam nisl in malesuada.</MudText>
        <MudPaper Elevation="0" Class="rounded-lg pa-0">
            <iframe src='https://www.youtube.com/embed/c9MnSeYYtYY' frameborder='0' allowfullscreen class="rounded-lg"></iframe>
        </MudPaper>
    </MudCard>

    <MudDivider></MudDivider>
    
    <MudCard Elevation="25" Class="my-5 pa-3 rounded-xl">
        <MudPaper Elevation="0" Class="d-flex flex-row rounded-xl">
            <MudText Typo="Typo.h5" Style="font-weight: 600;" Class="ma-3 pa-3" Color="@Color.Default">02</MudText>
            <MudPaper Elevation="0" Class="pa-0 align-self-center">
                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Default">Applied Types</MudText>
                <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Primary" Class="mud-text-primary">Up in the Sky, Ever-seeing. </MudText>
            </MudPaper>
            <MudPaper Elevation="0" Class="pa-0 mr-2 ml-auto align-self-center">
                <MudChip Class="px-2 align-self-center" Size="Size.Small" Label="true" Color="Color.Error">2h, 25min</MudChip>
            </MudPaper>
        </MudPaper>

        <MudDivider Class="my-2"></MudDivider>

        <MudGrid Spacing="1">
            <MudItem xs="6" md="6" lg="6">
                <MudText Typo="Typo.h6" Style="font-weight: 500;" Color="@Color.Default">Heading 1</MudText>
                <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Default">This is an example of heading four. The h4 tag. </MudText>
            </MudItem>
            <MudItem xs="6" md="6" lg="6">
                <MudText Typo="Typo.h6" Style="font-weight: 500;" Color="@Color.Default">Heading 2</MudText>
                <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Default">This is an example of heading four. The h4 tag. </MudText>
            </MudItem>
            <MudItem xs="6" md="6" lg="6">
                <MudText Typo="Typo.h6" Style="font-weight: 500;" Color="@Color.Default">Heading 3</MudText>
                <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Default">This is an example of heading four. The h4 tag. </MudText>
            </MudItem>
            <MudItem xs="6" md="6" lg="6">
                <MudText Typo="Typo.h6" Style="font-weight: 500;" Color="@Color.Default">Heading 4</MudText>
                <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Default">This is an example of heading four. The h4 tag. </MudText>
            </MudItem>
        </MudGrid>

        <MudDivider Class="my-2"></MudDivider>

        <MudImage Fluid="true" Src="images/16w.jpg" Alt="Swedish Farm House" Class="rounded-lg" />
    </MudCard>

    <MudDivider></MudDivider>

    <MudCard Elevation="25" Class="my-5 pa-3 rounded-xl">
        <MudPaper Elevation="0" Class="d-flex flex-row rounded-xl">
            <MudText Typo="Typo.h5" Style="font-weight: 600;" Class="ma-3 pa-3" Color="@Color.Default">03</MudText>
            <MudPaper Elevation="0" Class="pa-0 align-self-center">
               <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Default">Sample Materials</MudText>
               <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Primary" Class="mud-text-primary">Download what you learned. </MudText>
            </MudPaper>
            <MudPaper Elevation="0" Class="pa-0 mr-2 ml-auto align-self-center">
               <MudChip Class="px-2 align-self-center" Size="Size.Small" Label="true" Color="Color.Error">2h, 25min</MudChip>
            </MudPaper>        
        </MudPaper>
        <MudDivider Class="my-2"></MudDivider>
        <MudGrid Spacing="1">
                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex flex-row" Style="background-color: transparent">
                        <MudIcon Icon="fas fa-file-archive" Color="Color.Primary" Class="mx-0 my-2 align-self-center" Size="Size.Large"></MudIcon>
                        <div class="mx-3 align-self-center">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Class="align-self-center" Color="@Color.Default"> Project Update. </MudText>
                            <MudText Typo="Typo.caption" Align="Align.Left" Color="@Color.Default">315Kb, ZIP Archive</MudText>
                        </div>
                        <MudIcon Icon="@Icons.Material.Outlined.FileDownload" Class="ml-auto mr-0 align-self-center" Color="Color.Default" Size="Size.Small">Approved</MudIcon>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex flex-row" Style="background-color: transparent">
                        <MudIcon Icon="fas fa-file-pdf" Color="Color.Error" Class="mx-0 my-2 align-self-center" Size="Size.Large"></MudIcon>
                        <div class="mx-3 align-self-center">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Class="align-self-center" Color="@Color.Default"> Customer Briefing. </MudText>
                            <MudText Typo="Typo.caption" Align="Align.Left" Color="@Color.Default">315Kb, ZIP Archive</MudText>
                        </div>
                        <MudIcon Icon="@Icons.Material.Outlined.FileDownload" Class="ml-auto mr-0 align-self-center" Color="Color.Default" Size="Size.Small">Approved</MudIcon>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex flex-row" Style="background-color: transparent">
                        <MudIcon Icon="fas fa-file-alt" Color="Color.Default" Class="mx-0 my-2 align-self-center" Size="Size.Large"></MudIcon>
                        <div class="mx-3 align-self-center">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Class="align-self-center" Color="@Color.Default"> Product Licenses </MudText>
                            <MudText Typo="Typo.caption" Align="Align.Left" Color="@Color.Default">315Kb, ZIP Archive</MudText>
                        </div>
                        <MudIcon Icon="@Icons.Material.Outlined.FileDownload" Class="ml-auto mr-0 align-self-center" Color="Color.Default" Size="Size.Small">Approved</MudIcon>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudPaper Elevation="0" Class="d-flex flex-row" Style="background-color: transparent">
                        <MudIcon Icon="fas fa-file-image" Color="Color.Tertiary" Class="mx-0 my-2 align-self-center" Size="Size.Large"></MudIcon>
                        <div class="mx-3 align-self-center">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Class="align-self-center" Color="@Color.Default"> Design Screenshots. </MudText>
                            <MudText Typo="Typo.caption" Align="Align.Left" Color="@Color.Default">315Kb, ZIP Archive</MudText>
                        </div>                       
                        <MudIcon Icon="@Icons.Material.Outlined.FileDownload" Class="ml-auto mr-0 align-self-center" Color="Color.Default" Size="Size.Small">Approved</MudIcon>
                    </MudPaper>
                </MudItem>
        </MudGrid>
    </MudCard>

    <MudCard Elevation="25" Class="rounded-xl mt-5">
        <MudCardContent>
            <MudText Typo="Typo.h6" Style="font-weight: 600;">Image Gallery</MudText>
            <MudText Typo="Typo.caption">This is a template page data.</MudText>
            <MudDivider Class="my-3"></MudDivider>
            <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                <MudGrid Spacing="3" Class="d-flex align-content-center justify-space-xs-between flex-wrap pa-0">
                    <MudItem xs="6" md="6" lg="4">
                        <MudImage Fluid="true" Src="/images/pictures/26m.jpg" Class="rounded-lg" />
                    </MudItem>
                    <MudItem xs="6" md="6" lg="4">
                        <MudImage Fluid="true" Src="/images/pictures/27m.jpg" Class="rounded-lg" />
                    </MudItem>
                    <MudItem xs="6" md="6" lg="4">
                        <MudImage Fluid="true" Src="/images/pictures/22m.jpg" Class="rounded-lg" />
                    </MudItem>
                    <MudItem xs="6" md="6" lg="4">
                        <MudImage Fluid="true" Src="/images/pictures/23m.jpg" Class="rounded-lg" />
                    </MudItem>
                    <MudItem xs="6" md="6" lg="4">
                        <MudImage Fluid="true" Src="/images/pictures/24m.jpg" Class="rounded-lg" />
                    </MudItem>
                    <MudItem xs="6" md="6" lg="4">
                        <MudImage Fluid="true" Src="/images/pictures/25m.jpg" Class="rounded-lg" />
                    </MudItem>
                </MudGrid>
            </MudHidden>

            <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="false">
                <MudGrid Spacing="1" Class="d-flex align-content-center justify-space-xs-between flex-wrap pa-0">
                    <MudItem xs="6" md="6" lg="4">
                        <MudImage Fluid="true" Src="/images/pictures/26t.jpg" Class="rounded-lg" />
                    </MudItem>
                    <MudItem xs="6" md="6" lg="4">
                        <MudImage Fluid="true" Src="/images/pictures/27t.jpg" Class="rounded-lg" />
                    </MudItem>
                    <MudItem xs="6" md="6" lg="4">
                        <MudImage Fluid="true" Src="/images/pictures/22t.jpg" Class="rounded-lg" />
                    </MudItem>
                    <MudItem xs="6" md="6" lg="4">
                        <MudImage Fluid="true" Src="/images/pictures/23t.jpg" Class="rounded-lg" />
                    </MudItem>
                    <MudItem xs="6" md="6" lg="4">
                        <MudImage Fluid="true" Src="/images/pictures/24t.jpg" Class="rounded-lg" />
                    </MudItem>
                    <MudItem xs="6" md="6" lg="4">
                        <MudImage Fluid="true" Src="/images/pictures/25t.jpg" Class="rounded-lg" />
                    </MudItem>
                </MudGrid>
            </MudHidden>
        </MudCardContent>
    </MudCard>

    <MudCard Elevation="25" Class="mt-5 rounded-xl">
        <MudCardHeader>
            <CardHeaderContent>
               <MudText Typo="Typo.h6" Style="font-weight: 600;">Leave a Reply</MudText>
               <MudText Typo="Typo.caption">This is template only</MudText>
            </CardHeaderContent>
        </MudCardHeader>                
        <MudCardContent>
            <MudGrid>
                <MudItem xs="12">
                    <MudTextField T="string" Label="Name" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="string" Label="Email" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="string" Label="Enter your message" Variant="Variant.Outlined" Lines="3" Margin="Margin.Dense"/>
                </MudItem>
                <MudItem xs="12">
                    <MudContainer Fixed="true" Class="px-0">
                        <MudButton FullWidth="true" Class="rounded-lg" Variant="Variant.Filled" Color="Color.Primary" >POST COMMENT</MudButton>
                    </MudContainer>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
}