@page "/learning-style2"
@inject Microsoft.Extensions.Localization.IStringLocalizer<CourseStyle2> _localizer


@if (!_loaded)
{
    <Spinner></Spinner>
}
else
{
    <MudPaper Elevation="3" Height="150" Class="px-4 mx-n4 mt-n10 py-10 mud-theme-primary" Style="border-radius: 0px 0px 45px 45px;" Outlined="false">
        <MudPaper Elevation="0" Class="py-0">

        </MudPaper>
    </MudPaper>

    <MudGrid Class="mt-n15 pt-0 mb-1">
        <MudItem xs="12">
            <MudCard Class="rounded-xl mr-5" Style="width: 100%;">
                    <MudCardMedia Image="images/13w.jpg" Height="160" />
                    <MudCardContent>
                        <MudText Align="Align.Center" Typo="Typo.h5" Color="Color.Default" Style="font-weight: 700;">Pro SEO</MudText>
                        <MudText Align="Align.Center" Typo="Typo.h6" Style="font-weight: 600;" Class="mt-n2">Ranking &amp; Keywords</MudText>
                        <MudText Align="Align.Center" Typo="Typo.caption">Start ranking your page higher and understanding how SEO help you earn more.</MudText>
                        <MudDivider Class="my-2"></MudDivider>
                        <div class="d-flex">
                            <div class="d-flex flex-column justify-center">
                                <MudAvatar Class="align-self-center" Image="/images/pictures/faces/1s.png" />
                                <MudText Align="Align.Center" Typo="Typo.subtitle2" Style="font-weight: 600;" Color="Color.Default">Vincent M.</MudText>
                                <MudText Align="Align.Center" Typo="Typo.caption" Color="Color.Primary">Course Tutor</MudText>
                            </div>
                            <div class="mx-3">
                                <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="Color.Default">Course Participants</MudText>
                                <MudText Align="Align.Center" Typo="Typo.caption" Color="Color.Primary">John, Jack, Jason and 16 others</MudText>
                                <MudAvatarGroup Class="mt-3" Max="3" Spacing="3" MaxColor="Color.Primary">
                                    <MudAvatar Image="/images/pictures/faces/1s.png" />
                                    <MudAvatar Image="/images/pictures/faces/2s.png" />
                                    <MudAvatar Image="/images/pictures/faces/3s.png" />
                                    <MudAvatar Image="/images/pictures/faces/4s.png" />
                                </MudAvatarGroup>
                            </div>
                        </div>
                    </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>

    <MudCard Elevation="25" Class="mt-5 rounded-xl">
        <MudCardContent>
            <div class="d-flex">
                <MudIconButton Class="align-self-center" Icon="fas fa-gem" Color="Color.Error" Size="Size.Large"></MudIconButton>
                <div class="mx-3">
                    <MudText Typo="Typo.h6" Style="font-weight: 600;" Color="@Color.Default">This is a Premium Course</MudText>
                    <MudText Typo="Typo.caption" Color="Color.Default">Please register and purchase your ticket to join this course below.</MudText>
                </div>
            </div>
            <MudButton FullWidth="true" Class="my-3 rounded-lg px-1" Size="Size.Medium" Variant="Variant.Filled" Color="Color.Secondary">Get Subscription Now</MudButton>
        </MudCardContent>
    </MudCard>

    <MudPaper Elevation="0" Class="px-4 mx-n4 my-5 py-5 mud-theme-primary" Outlined="false" Square="true">
        <MudText Typo="Typo.h6" Style="font-weight: 600; text-align: left;">Tickets, Bookings</MudText>
        <MudText Typo="Typo.body2" Style="font-weight: 600; text-align: left;">Book your seat at the event, front row or coach, you're still going to love every moment of it.</MudText>

        <MudCard Elevation="25" Class="my-5 d-flex flex-row rounded-xl">
            <MudText Typo="Typo.h5" Style="font-weight: 600;" Class="ma-3 pa-3" Color="@Color.Default">01</MudText>
            <MudPaper Elevation="0" Class="pa-0 align-self-center">
               <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Default">Introduction</MudText>
               <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Primary" Class="mud-text-primary">Front Row Seats </MudText>
            </MudPaper>
            <MudPaper Elevation="0" Class="pa-0 mr-2 ml-auto align-self-center">
               <MudChip Class="px-2 align-self-center" Size="Size.Small" Label="true" Color="Color.Primary">SAMPLE</MudChip>
            </MudPaper>        
        </MudCard>

        <MudCard Elevation="25" Class="my-5 d-flex flex-row rounded-xl">
            <MudText Typo="Typo.h5" Style="font-weight: 600;" Class="ma-3 pa-3" Color="@Color.Default">02</MudText>
            <MudPaper Elevation="0" Class="pa-0 align-self-center">
               <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Default">Applied Types</MudText>
               <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Primary" Class="mud-text-primary">Up in the Sky, Ever-seeing. </MudText>
            </MudPaper>
            <MudPaper Elevation="0" Class="pa-0 mr-2 ml-auto align-self-center">
               <MudChip Class="px-2 align-self-center" Size="Size.Small" Label="true" Color="Color.Error">SUBSCRIPTION</MudChip>
            </MudPaper>        
        </MudCard>

        <MudCard Elevation="25" Class="my-5 d-flex flex-row rounded-xl">
            <MudText Typo="Typo.h5" Style="font-weight: 600;" Class="ma-3 pa-3" Color="@Color.Default">03</MudText>
            <MudPaper Elevation="0" Class="pa-0 align-self-center">
               <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Default">Sample Materials</MudText>
               <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Primary" Class="mud-text-primary">Download what you learned. </MudText>
            </MudPaper>
            <MudPaper Elevation="0" Class="pa-0 mr-2 ml-auto align-self-center">
               <MudChip Class="px-2 align-self-center" Size="Size.Small" Label="true" Color="Color.Error">SUBSCRIPTION</MudChip>
            </MudPaper>        
        </MudCard>
    </MudPaper>

    <MudCard Elevation="25" Class="rounded-xl my-5">
        <MudCardContent>
            <MudGrid Spacing="2">
                <MudItem xs="12">
                    <MudText Color="Color.Primary" Align="Align.Left" Typo="Typo.h6" Style="font-weight: 600;">Why Choose Us?</MudText>
                    <MudText Color="Color.Default" Align="Align.Left" Typo="Typo.subtitle1" Style="font-weight: 400;">We take care of each and every detail you need with a never-before seen level of attention.</MudText>
                </MudItem>

                <MudItem xs="12">
                    <MudDivider DividerType="DividerType.Middle" Class="mx-10" />
                </MudItem>

                <MudItem xs="12">
                    <div class="d-flex flex-row">
                        <MudAvatar Image="/images/018-send.png" Class="pa-0 mr-5 align-self-center" Style="height:45px; width:45px;"></MudAvatar>
                        <div>
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Choose your Style</MudText>
                            <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Default">We've included multiple components and styles you can choose to match your project needs.</MudText>
                        </div>
                    </div>
                </MudItem>

                <MudItem xs="12">
                    <div class="d-flex flex-row">
                        <MudAvatar Image="/images/004-configuration.png" Class="pa-0 mr-5 align-self-center" Style="height:45px; width:45px;"></MudAvatar>
                        <div>
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Build your Features</MudText>
                            <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Default">With many prebuilt functions and template, you can speech up your project developement.</MudText>
                        </div>
                    </div>
                </MudItem>

                <MudItem xs="12">
                    <div class="d-flex flex-row">
                        <MudAvatar Image="/images/001-upload.png" Class="pa-0 mr-5 align-self-center" Style="height:45px; width:45px;"></MudAvatar>
                        <div>
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Publish your App</MudText>
                            <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Default">Something really cool is launching now! Let publish and promote it to your customer.</MudText>
                        </div>
                    </div>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>

    <MudPaper Elevation="0" Class="px-4 mx-n4 my-5 py-5 mud-theme-primary" Outlined="false" Square="true">
        <MudText Align="Align.Left" Typo="Typo.h6" Style="font-weight: 600;">Built For You</MudText>
        <MudText Align="Align.Left" Typo="Typo.caption">Our products suit your website, running incredibly fast and provide an unmatched UX and UI.</MudText>

        <MudCard Class="rounded-xl my-5">
            <MudCardContent>
                <MudGrid Spacing="2">
                    <MudItem xs="6">
                        <div class="d-flex flex-row">
                            <MudAvatar Image="/images/materials.png" Class="pa-0 mr-2 align-self-center"Style="height:40px; width:40px;"></MudAvatar>
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Default">Material Design</MudText>
                        </div>
                    </MudItem>

                    <MudItem xs="6">
                        <div class="d-flex flex-row">
                            <MudAvatar Image="/images/csharp.png" Class="pa-0 mr-2 align-self-center" Style="height:40px; width:40px;"></MudAvatar>
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Default">Entirely in <br> C#</MudText>
                        </div>
                    </MudItem>

                    <MudItem xs="6">
                        <div class="d-flex flex-row">
                            <MudAvatar Image="/images/dependencies.png" Class="pa-0 mr-2 align-self-center" Style="height:40px; width:40px;"></MudAvatar>
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Default">No Depencencies</MudText>
                        </div>
                    </MudItem>

                    <MudItem xs="6">
                        <div class="d-flex flex-row">
                            <MudAvatar Image="/images/full-stack.png" Class="pa-0 mr-2 align-self-center" Style="height:40px; width:40px;"></MudAvatar>
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Default">Both Client & <br> Server</MudText>
                        </div>
                    </MudItem>
                </MudGrid>
            </MudCardContent>
        </MudCard>
    </MudPaper>

    <MudCard Elevation="25" Class="rounded-xl mt-5">
        <MudCardContent>
            <MudText Typo="Typo.h6" Style="font-weight: 600;">Image Gallery</MudText>
            <MudText Typo="Typo.caption">This is a template page data.</MudText>
            <MudDivider Class="my-3"></MudDivider>
            <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                <MudGrid Spacing="3" Class="d-flex align-content-center justify-space-xs-between flex-wrap pa-0">
                    <MudItem xs="4" md="4" lg="4">
                        <MudImage Fluid="true" Src="/images/pictures/26m.jpg" Class="rounded-lg" />
                    </MudItem>
                    <MudItem xs="4" md="4" lg="4">
                        <MudImage Fluid="true" Src="/images/pictures/27m.jpg" Class="rounded-lg" />
                    </MudItem>
                    <MudItem xs="4" md="4" lg="4">
                        <MudImage Fluid="true" Src="/images/pictures/22m.jpg" Class="rounded-lg" />
                    </MudItem>
                </MudGrid>
            </MudHidden>

            <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="false">
                <MudGrid Spacing="1" Class="d-flex align-content-center justify-space-xs-between flex-wrap pa-0">
                    <MudItem xs="4" md="4" lg="4">
                        <MudImage Fluid="true" Src="/images/pictures/26t.jpg" Class="rounded-lg" />
                    </MudItem>
                    <MudItem xs="4" md="4" lg="4">
                        <MudImage Fluid="true" Src="/images/pictures/27t.jpg" Class="rounded-lg" />
                    </MudItem>
                    <MudItem xs="4" md="4" lg="4">
                        <MudImage Fluid="true" Src="/images/pictures/22t.jpg" Class="rounded-lg" />
                    </MudItem>
                </MudGrid>
            </MudHidden>         
        </MudCardContent>
    </MudCard>

    <MudCard Elevation="25" Class="mt-5 rounded-xl">
        <MudCardHeader>
            <CardHeaderContent>
               <MudText Typo="Typo.h6" Style="font-weight: 600;">Have any questions?</MudText>
               <MudText Typo="Typo.caption">Donec in velit id augue molestie commodo nec in eros. Morbi id rhoncus lorem, volutpat venenatis.</MudText>
            </CardHeaderContent>
        </MudCardHeader>                
        <MudCardContent>
            <MudGrid>
                <MudItem xs="12">
                    <MudTextField T="string" Label="Name" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="string" Label="Email" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="string" Label="Enter your message" Variant="Variant.Outlined" Lines="5" Margin="Margin.Dense"/>
                </MudItem>
                <MudItem xs="12">
                    <MudContainer Fixed="true" Class="px-0">
                        <MudButton FullWidth="true" Class="rounded-lg" Variant="Variant.Filled" Color="Color.Primary" >SEND MESSAGE</MudButton>
                    </MudContainer>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
}