@page "/learning-home1"
@inject Microsoft.Extensions.Localization.IStringLocalizer<HomePage1> _localizer


@if (!_loaded)
{
    <Spinner></Spinner>
}
else
{
    <MudPaper Elevation="3" Class="px-4 mx-n4 mt-n10 pt-10 pb-12 mud-theme-primary" Style="border-radius: 0px 0px 30px 30px;" Outlined="false">
        <MudGrid Class="mt-n5">
            <MudItem xs="12">
                <MudPaper Elevation="0" Style="background-color: transparent" Class="d-flex justify-space-between pa-0">
                    <MudPaper Elevation="0" Style="background-color: transparent" Class="pa-0 mr-2 align-self-center">
                        <MudText Typo="Typo.subtitle1" Style="@($" color:{Colors.Shades.White}; font-weight: 400;")">Welcome back,</MudText>
                        <MudText Color="Color.Default" Typo="Typo.subtitle1" Class="mt-n2" Style="@($" color:{Colors.Shades.White}; font-weight: 600;")">JOHN DOE</MudText>
                    </MudPaper>
                    <MudPaper Elevation="0" Style="background-color: transparent" Class="pa-0 mr-0 align-self-center">
                        <MudAvatar Image="/images/pictures/faces/3s.png" Style="height: 50px; width: 50px;"> </MudAvatar>
                    </MudPaper>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudPaper>

    <MudGrid Class="mt-n15 pt-0 mb-1">
        <MudItem xs="12">
            <div class="hz-container px-1 py-2">
                <MudCard Class="rounded-xl mr-5" Style="width: 310px;">
                    <MudCardMedia Image="images/13w.jpg" Height="160" />
                    <MudCardContent Style="width: 310px;">
                        <div class="d-flex justify-space-between">
                            <div>
                                <MudText Typo="Typo.caption" Color="Color.Primary">Graphic Design</MudText>
                                <MudText Typo="Typo.h6" Style="font-weight: 600;" Class="mt-n2">Type Course</MudText>
                            </div>
                            <div>
                                <MudText Typo="Typo.h6" Style="font-weight: 600;" Class="mb-n2">$99</MudText>
                                <MudText Typo="Typo.caption">Premium</MudText>
                            </div>
                        </div>
                        <MudText Typo="Typo.body2">Learn what makes great typography great. All from fonts to sizes and line heights.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Color="Color.Primary" Label="true">3 Videos - 1hrs 30min</MudChip>
                        <MudChip Icon="@Icons.Material.Filled.PlayCircle" Color="Color.Error" Label="true">Start</MudChip>
                    </MudCardActions>
                </MudCard>

                <MudCard Class="rounded-xl mr-5" Style="width: 310px;">
                    <MudCardMedia Image="images/15w.jpg" Height="160" />
                    <MudCardContent Style="width: 310px;">
                        <div class="d-flex justify-space-between">
                            <div>
                                <MudText Typo="Typo.caption" Color="Color.Error">Development</MudText>
                                <MudText Typo="Typo.h6" Style="font-weight: 600;" Class="mt-n2">Blazor Server</MudText>
                            </div>
                            <div>
                                <MudText Typo="Typo.h6" Style="font-weight: 600;" Class="mb-n2">$39</MudText>
                                <MudText Typo="Typo.caption">Premium</MudText>
                            </div>
                        </div>
                        <MudText Typo="Typo.body2">Learn Data Structures and Algorithms in the most popular development language out there.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Color="Color.Primary" Label="true">5 Videos - 3hrs 15min</MudChip>
                        <MudChip Icon="@Icons.Material.Filled.PlayCircle" Color="Color.Error" Label="true">Start</MudChip>
                    </MudCardActions>
                </MudCard>

                <MudCard Class="rounded-xl mr-5" Style="width: 310px;">
                    <MudCardMedia Image="images/16w.jpg" Height="160" />
                    <MudCardContent Style="width: 310px;">
                        <div class="d-flex justify-space-between">
                            <div>
                                <MudText Typo="Typo.caption" Color="Color.Warning">Marketing</MudText>
                                <MudText Typo="Typo.h6" Style="font-weight: 600;" Class="mt-n2">SEO &amp; Keywords</MudText>
                            </div>
                            <div>
                                <MudText Typo="Typo.h6" Style="font-weight: 600;" Class="mb-n2">$59</MudText>
                                <MudText Typo="Typo.caption">Premium</MudText>
                            </div>
                        </div>
                        <MudText Typo="Typo.body2">Rank your page higher in Google's Search Results and learn the importance of keywords.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Color="Color.Primary" Label="true">2 Videos - 1hrs 20min</MudChip>
                        <MudChip Icon="@Icons.Material.Filled.PlayCircle" Color="Color.Error" Label="true">Start</MudChip>
                    </MudCardActions>
                </MudCard>

                <MudCard Class="rounded-xl" Style="width: 310px;">
                    <MudCardMedia Image="images/18w.jpg" Height="160" />
                    <MudCardContent Style="width: 310px;">
                        <div class="d-flex justify-space-between">
                            <div>
                                <MudText Typo="Typo.caption" Color="Color.Tertiary">Backend Integration</MudText>
                                <MudText Typo="Typo.h6" Style="font-weight: 600;" Class="mt-n2">Programming</MudText>
                            </div>
                            <div>
                                <MudText Typo="Typo.h6" Style="font-weight: 600;" Class="mb-n2">$79</MudText>
                                <MudText Typo="Typo.caption">Premium</MudText>
                            </div>
                        </div>
                        <MudText Typo="Typo.body2">Learn Data Structures and Algorithms in the most popular development language out there.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudChip Icon="@Icons.Material.Filled.AccessTime" Color="Color.Primary" Label="true">3 Videos - 1hrs 30min</MudChip>
                        <MudChip Icon="@Icons.Material.Filled.PlayCircle" Color="Color.Error" Label="true">Start</MudChip>
                    </MudCardActions>
                </MudCard>
            </div>
        </MudItem>
    </MudGrid>
    

    <div class="d-flex flex-row justify-space-between mt-7 mb-2">
        <div class="d-flex">
            <MudIconButton Icon="fas fa-burn" Color="Color.Secondary" Size="Size.Small"></MudIconButton>
            <MudText Color="Color.Default" Class="mx-2" Style="font-weight: 500;" Typo="Typo.h6">Hot Courses</MudText>
        </div>
        <MudText Color="Color.Primary" Class="align-self-center" Typo="Typo.subtitle2">View All</MudText>
    </div>
    <MudGrid Class="mb-5" Spacing="2">
        <MudItem xs="12" sm="12" md="12">
            <MudCard Elevation="25" Class="d-flex flex-row justify-space-between rounded-xl pa-3">
                    <MudCardContent Class="pa-0">
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Default">Typography</MudText>
                        <MudText Typo="Typo.caption" Color="@Color.Default">Get Certified in The art of fonts</MudText>
                        <div class="d-flex mt-2">
                            <MudChip Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Warning" Label="true" Variant="Variant.Outlined" Size="Size.Small">Alexander Bell</MudChip>
                            <MudText Class="mx-2 align-self-center" Typo="Typo.caption" Style="font-weight: 500;">8 courses</MudText>
                        </div>
                    </MudCardContent>
                    <div class="mx-1"></div>
                    <MudCardMedia Image="/images/pictures/28.jpg" Class="rounded-xl align-self-center" Style="height: 100px; min-width: 100px; max-width: 100px; " />
            </MudCard>
        </MudItem>

        <MudItem xs="12" sm="12" md="12">
            <MudCard Elevation="25" Class="d-flex flex-row justify-space-between rounded-xl pa-3">
                    <MudCardContent Class="pa-0">
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Default">Blazor Server</MudText>
                        <MudText Typo="Typo.caption" Color="@Color.Default">Data Structures and Algorithms</MudText>
                        <div class="d-flex mt-2">
                            <MudChip Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Tertiary" Label="true" Variant="Variant.Outlined" Size="Size.Small">John Doe</MudChip>
                            <MudText Class="mx-2 align-self-center" Typo="Typo.caption" Style="font-weight: 500;">10 courses</MudText>
                        </div>
                    </MudCardContent>
                    <div class="mx-1"></div>
                    <MudCardMedia Image="/images/pictures/27.jpg" Class="rounded-xl align-self-center" Style="height: 100px; min-width: 100px; max-width: 100px; " />
            </MudCard>
        </MudItem>

        <MudItem xs="12" sm="12" md="12">
            <MudCard Elevation="25" Class="d-flex flex-row justify-space-between rounded-xl pa-3">
                    <MudCardContent Class="pa-0">
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Default">SEO &amp; Ranking</MudText>
                        <MudText Typo="Typo.caption" Color="@Color.Default">Search Engine Optimization Certificate</MudText>
                        <div class="d-flex mt-2">
                            <MudChip Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Secondary" Label="true" Variant="Variant.Outlined" Size="Size.Small">Jonathan Lee</MudChip>
                            <MudText Class="mx-2 align-self-center" Typo="Typo.caption" Style="font-weight: 500;">5 courses</MudText>
                        </div>
                    </MudCardContent>
                    <div class="mx-1"></div>
                    <MudCardMedia Image="/images/pictures/26.jpg" Class="rounded-xl align-self-center" Style="height: 100px; min-width: 100px; max-width: 100px; " />
            </MudCard>
        </MudItem>
    </MudGrid>

    <div class="d-flex flex-row justify-space-between mt-7 mb-2">
        <div class="d-flex">
            <MudIconButton Icon="fas fa-th-large" Color="Color.Primary" Size="Size.Small"></MudIconButton>
            <MudText Color="Color.Default" Class="mx-2" Style="font-weight: 500;" Typo="Typo.h6">Categories</MudText>
        </div>
        <MudText Color="Color.Primary" Class="align-self-center" Typo="Typo.subtitle2">View All</MudText>
    </div>
    <MudGrid Class="mb-5" Spacing="2">
        <MudItem xs="6" sm="6" md="6">
            <MudCard Elevation="25" Class="rounded-xl" Style="height:170px;">
                <MudCardContent Class="d-flex flex-column px-3 py-2" Style="height:170px;">
                    <MudIconButton Icon="fas fa-award" Color="Color.Info" Class="pa-3 align-self-center" Size="Size.Large"></MudIconButton>
                    <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Class="align-self-center" Color="@Color.Surface">Courses</MudText>
                    <MudText Typo="Typo.caption" Class="align-self-center" Color="@Color.Primary">Certified Lessions</MudText>
                    <MudText Typo="Typo.caption" Style="font-weight: 300;" Class="mt-auto align-self-center mud-text-secondary" Color="@Color.Default">Tap to view </MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="6" sm="6" md="6">
            <MudCard Elevation="25" Class="rounded-xl" Style="height:170px;">
                <MudCardContent Class="d-flex flex-column px-3 py-2" Style="height:170px;">
                    <MudIconButton Icon="fas fa-book" Color="Color.Success" Class="pa-3 align-self-center" Size="Size.Large"></MudIconButton>
                    <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Class="align-self-center" Color="@Color.Surface">Basic</MudText>
                    <MudText Typo="Typo.caption" Class="align-self-center" Color="@Color.Primary">Learn Something New</MudText>
                    <MudText Typo="Typo.caption" Style="font-weight: 300;" Class="mt-auto align-self-center mud-text-secondary" Color="@Color.Default">Tap to view </MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="6" sm="6" md="6">
            <MudCard Elevation="25" Class=" rounded-xl" Style="height:170px;">
                <MudCardContent Class="d-flex flex-column align-self-center flex-wrap px-3 py-2" Style="height:170px;">
                    <MudIconButton Icon="fas fa-swatchbook" Color="Color.Warning" Class="pa-3 align-self-center" Size="Size.Large"></MudIconButton>
                    <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Class="align-self-center" Color="@Color.Surface">Principles</MudText>
                    <MudText Typo="Typo.caption" Class="align-self-center" Color="@Color.Primary">Mobile-first Designs</MudText>
                    <MudText Typo="Typo.caption" Style="font-weight: 300;" Class="mt-auto align-self-center mud-text-secondary" Color="@Color.Default">Tap to view </MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="6" sm="6" md="6">
            <MudCard Elevation="25" Class="rounded-xl" Style="height:170px;">
                <MudCardContent Class="d-flex flex-column align-self-center flex-wrap px-3 py-2" Style="height:170px;">
                    <MudIconButton Icon="fas fa-map-marker-alt" Color="Color.Error" Class="pa-3 align-self-center" Size="Size.Large"></MudIconButton>
                    <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Class="align-self-center" Color="@Color.Surface">Near You</MudText>
                    <MudText Typo="Typo.caption" Class="align-self-center" Color="@Color.Primary">Live Courses Near You</MudText>
                    <MudText Typo="Typo.caption" Style="font-weight: 300;" Class="mt-auto align-self-center mud-text-primary" Color="@Color.Default">Tap to view </MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>

    <MudCard Elevation="25" Class="rounded-xl my-5">
        <MudCardMedia Image="/images/intro-1.jpg" Height="200" />
        <MudCardContent>
            <div class="d-flex justify-space-between">
                <div>
                    <MudText Color="Color.Default" Typo="Typo.h6" Style="font-weight: 600;">Blazor WebAssembly</MudText>
                    <MudText Class="mt-0" Typo="Typo.body2">Join the live coverage now.</MudText>
                </div>
                <MudButton StartIcon="@Icons.Material.Filled.PlayCircle" Class="rounded-lg align-self-center" Variant="Variant.Filled" Color="Color.Error">Resume</MudButton>
            </div>
        </MudCardContent>
    </MudCard>
}