@page "/learning-profile"
@inject Microsoft.Extensions.Localization.IStringLocalizer<LearningProfile> _localizer


@if (!_loaded)
{
    <Spinner></Spinner>
}
else
{
    <MudPaper Elevation="3" Class="px-4 mx-n4 mt-n10 pt-10 pb-12 mud-theme-primary" Style="border-radius: 0px 0px 30px 30px;" Outlined="false">
        <MudGrid Class="mt-n5 pb-8">
            <MudItem xs="12">
                <MudPaper Elevation="0" Style="background-color: transparent" Class="d-flex justify-space-between pa-0">
                    <MudPaper Elevation="0" Style="background-color: transparent" Class="pa-0 mr-2 align-self-center">
                        <MudText Typo="Typo.subtitle1" Style="@($" color:{Colors.Shades.White}; font-weight: 400;")">Welcome back,</MudText>
                        <MudText Color="Color.Default" Typo="Typo.subtitle1" Class="mt-n2" Style="@($" color:{Colors.Shades.White}; font-weight: 600;")">JOHN DOE</MudText>
                    </MudPaper>
                    <MudPaper Elevation="0" Style="background-color: transparent" Class="pa-0 mr-0 align-self-center">
                        <MudAvatar Image="/images/pictures/faces/3s.png" Style="height: 50px; width: 50px;"> </MudAvatar>
                    </MudPaper>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudPaper>

    <MudGrid Class="mt-n15 pt-0" Spacing="2">
        <MudItem xs="4" sm="4" md="4">
            <MudCard Elevation="5" Class="rounded-xl">
                <MudCardContent Class="d-flex flex-column py-5">
                    <MudIconButton Icon="fas fa-award" Color="Color.Tertiary" Size="Size.Large"></MudIconButton>
                    <MudText Typo="Typo.h6" Color="Color.Default" Style="font-weight: 600;" Align="Align.Center">50</MudText>
                    <MudText Typo="Typo.caption" Color="Color.Primary" Align="Align.Center" Class="mt-1">Certifications</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="4" sm="4" md="4">
            <MudCard Elevation="5" Class="rounded-xl">
                <MudCardContent Class="d-flex flex-column py-5">
                    <MudIconButton Icon="fas fa-book" Color="Color.Warning" Size="Size.Large"></MudIconButton>
                    <MudText Typo="Typo.h6" Color="Color.Default" Style="font-weight: 600;" Align="Align.Center">22</MudText>
                    <MudText Typo="Typo.caption" Color="Color.Primary" Align="Align.Center" Class="mt-1">Completed</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="4" sm="4" md="4">
            <MudCard Elevation="5" Class="rounded-xl">
                <MudCardContent Class="d-flex flex-column py-5">
                    <MudIconButton Icon="fas fa-bookmark" Color="Color.Secondary" Size="Size.Large"></MudIconButton>
                    <MudText Typo="Typo.h6" Color="Color.Default" Style="font-weight: 600;" Align="Align.Center">45</MudText>
                    <MudText Typo="Typo.caption" Color="Color.Primary" Align="Align.Center" Class="mt-1">Saved</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>

    <MudCard Elevation="25" Class="my-5 rounded-xl">
        <MudCardContent>
            <MudGrid Class="mb-3" Spacing="0">
                <MudItem xs="12">
                   <MudText Color="Color.Default" Style="font-weight: 600;" Typo="Typo.h6">Achievements</MudText>
                   <MudText Color="Color.Default" Typo="Typo.caption">Your course achievements thus far. See how many you've unlocked!</MudText>
                </MudItem>

                <MudItem xs="12">
                    <MudDivider Class="mt-3"></MudDivider>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudCard Elevation="0" Class="d-flex flex-row justify-space-between rounded-xl pa-0">
                        <MudCardContent Class="px-0">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Default">Pro Certified</MudText>
                            <MudText Typo="Typo.caption" Color="Color.Primary">Certified Pro in 50 Courses or More</MudText>
                        </MudCardContent>
                        <MudIconButton Icon="fas fa-award" Color="Color.Warning" Size="Size.Large"></MudIconButton>
                    </MudCard>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudCard Elevation="0" Class="d-flex flex-row justify-space-between rounded-xl pa-0">
                        <MudCardContent Class="px-0">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Default">Book Worm</MudText>
                            <MudText Typo="Typo.caption" Color="Color.Primary">Read more than 100 books from our courses.</MudText>
                        </MudCardContent>
                        <MudIconButton Icon="fas fa-book" Color="Color.Secondary" Size="Size.Large"></MudIconButton>
                    </MudCard>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudCard Elevation="0" Class="d-flex flex-row justify-space-between rounded-xl pa-0">
                        <MudCardContent Class="px-0">
                            <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Default">Loves Reading</MudText>
                            <MudText Typo="Typo.caption" Color="Color.Primary">Read 3 hours straight to unlock.</MudText>
                        </MudCardContent>
                        <MudIconButton Icon="fas fa-lock" Color="Color.Default" Size="Size.Large"></MudIconButton>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
    
    <MudCard Elevation="25" Class="my-5 rounded-xl">
        <MudCardContent>
            <MudGrid Class="mb-3" Spacing="1">
                <MudItem xs="12">
                   <MudText Color="Color.Default" Style="font-weight: 600;" Typo="Typo.h6">Your Bookmarks</MudText>
                   <MudText Color="Color.Default" Typo="Typo.caption">Your unfinished courses. Continue learning before they expire.</MudText>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudCard Elevation="0" Class="d-flex flex-row justify-space-between rounded-xl pa-0">
                        <div class="d-flex">
                            <MudCardMedia Image="/images/pictures/28.jpg" Class="rounded-lg align-self-center" Style="height: 60px; min-width: 60px; max-width: 60px; " />
                            <MudCardContent Class="px-3">
                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Default">Mobile PWA</MudText>
                                <MudText Typo="Typo.caption" Color="Color.Primary">1 hour, 24 minutes</MudText>
                                <MudProgressLinear Color="Color.Error" Value="30" />
                            </MudCardContent>
                        </div>
                        <MudIconButton Icon="fas fa-play-circle" Color="Color.Primary" Size="Size.Small"></MudIconButton>
                    </MudCard>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudCard Elevation="0" Class="d-flex flex-row justify-space-between rounded-xl pa-0">
                        <div class="d-flex">
                            <MudCardMedia Image="/images/pictures/27.jpg" Class="rounded-lg align-self-center" Style="height: 60px; min-width: 60px; max-width: 60px; " />
                            <MudCardContent Class="px-3">
                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Default">Hybrid Apps</MudText>
                                <MudText Typo="Typo.caption" Color="Color.Primary">5 hours, 32 minutes</MudText>
                                <MudProgressLinear Color="Color.Tertiary" Value="50" />
                            </MudCardContent>
                        </div>
                        <MudIconButton Icon="fas fa-play-circle" Color="Color.Primary" Size="Size.Small"></MudIconButton>
                    </MudCard>
                </MudItem>

                <MudItem xs="12" sm="12" md="12">
                    <MudCard Elevation="0" Class="d-flex flex-row justify-space-between rounded-xl pa-0">
                        <div class="d-flex">
                            <MudCardMedia Image="/images/pictures/26.jpg" Class="rounded-lg align-self-center" Style="height: 60px; min-width: 60px; max-width: 60px; " />
                            <MudCardContent Class="px-3">
                                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Default">Optimizing Performance</MudText>
                                <MudText Typo="Typo.caption" Color="Color.Primary">2 hours, 15 minutes</MudText>
                                <MudProgressLinear Color="Color.Primary" Value="40" />
                            </MudCardContent>
                        </div>
                        <MudIconButton Icon="fas fa-play-circle" Color="Color.Primary" Size="Size.Small"></MudIconButton>
                    </MudCard>
                </MudItem>

                <MudItem xs="12">
                    <MudDivider></MudDivider>
                </MudItem>

                <MudItem xs="12">
                    <MudButton FullWidth="true" Class="rounded-lg px-1" Size="Size.Medium" Variant="Variant.Filled" Color="Color.Primary">View All</MudButton>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>

    <MudCard Elevation="25" Class="mt-5 rounded-xl">
        <MudCardContent>
            <div class="d-flex">
                <MudIconButton Class="align-self-center" Icon="fas fa-check-circle" Color="Color.Success" Size="Size.Large"></MudIconButton>
                <div class="mx-3">
                    <MudText Typo="Typo.h6" Style="font-weight: 600;" Color="@Color.Default">Premium Account</MudText>
                    <MudText Typo="Typo.caption" Color="Color.Default">Your current subscription exprires March 24th, 2025.</MudText>
                </div>
            </div>
            <MudButton FullWidth="true" Class="my-3 rounded-lg px-1" Size="Size.Medium" Variant="Variant.Filled" Color="Color.Success">Renew Subscription</MudButton>
        </MudCardContent>
    </MudCard>
}