@page "/products-2"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Products2> _localizer

@if (!_loaded)
{
    <Spinner></Spinner>
}
else
{
    <MudPaper Elevation="3" Height="150" Class="px-4 mx-n4 mt-n10 py-10 mud-theme-primary" Style="border-radius: 0px 0px 45px 45px;" Outlined="false">
        <MudPaper Elevation="25" Class="d-flex flex-row pa-3 rounded-xl">
            <MudCardMedia Image="/images/delivery_icon.png" Style="height: 50px; width: 50px;" />
            <div class="ml-3">
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Deliver to ></MudText>
                <MudText Typo="Typo.body1">123, Poseidon, CA 78000, LA...</MudText>
            </div>
        </MudPaper>
    </MudPaper>

    <MudPaper Class="mt-n7 my-3">
        <MudSelect T="Menu" @bind-Value="@menu" Class="my-0" Label="Choose your taste" Variant="Variant.Filled" ToStringFunc="@converter" OffsetY="true">
            <MudSelectItem Value="@(new Menu() { Name="DCMS.Blazor PWA App"})" />
            <MudSelectItem Value="@(new Menu() { Name="Blazor Hero Kit"})" />
            <MudSelectItem Value="@(new Menu() { Name="MAUI and Xamarin Components"})" />
            <MudSelectItem Value="@(new Menu() { Name="Sticky Mobile App"})" />
        </MudSelect>
    </MudPaper>

    @if (menu == null)
    {
        <MudText Class="mt-5 mb-3">Nothing selected yet...</MudText>
    }
    else
    {
        <MudText Color="Color.Default" Class="mt-5 mb-3" Typo="Typo.h6">@menu.Name</MudText>
    }

    <!-- Select menu item -->
    <MudGrid Class="mb-5" Spacing="2">
        @foreach (var item in _productItemListSelected)
        {
            <MudItem xs="12" sm="6" md="6">
                <MudCard Elevation="25" Class="d-flex flex-row rounded-xl" Style="height:150px;" @onclick="@(() => NavigateToProductDetail())">
                    <MudCardMedia Image="@item.Image" Class="rounded-xl" Style="height:150px; min-width: 130px; max-width:130px;" />
                    <MudCardContent Class="d-flex align-content-space-between flex-wrap px-3 py-2" Style="height:150px;">
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Primary" Class="text-secondary">@item.ItemName</MudText>
                        <MudText Typo="Typo.body1">@item.Descriptions</MudText>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Secondary" Class="mud-text-secondary">@item.Price</MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }
    </MudGrid>

    <!--Menu #2-->
    <MudText Color="Color.Default" Class="mt-5 mb-3" Typo="Typo.h6">My Favorites</MudText>
    <MudGrid Class="mb-5" Spacing="2">
        @foreach (var item1 in _productItemList)
        {
            <MudItem xs="12" sm="6" md="6">
                <MudCard Elevation="25" Class="d-flex flex-row rounded-xl" Style="height:150px;" @onclick="@(() => NavigateToProductDetail())">
                    <MudCardMedia Image="@item1.Image" Class="rounded-xl" Style="height:150px; min-width: 130px; max-width:130px;" />
                    <MudCardContent Class="d-flex align-content-space-between flex-wrap px-3 py-2" Style="height:150px;">
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Primary" Class="text-secondary">@item1.ItemName</MudText>
                        <MudText Typo="Typo.body1">@item1.Descriptions</MudText>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Secondary" Class="mud-text-secondary">@item1.Price</MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }
    </MudGrid>

    <!--Recent orders-->
    <MudText Color="Color.Default" Class="mt-5 mb-1" Typo="Typo.h6">Your recent orders</MudText>
    <MudPaper Elevation="0" Class="hz-container px-1 py-2">
        <MudCard Elevation="25" Class="mr-3 rounded-xl">
            <MudCardMedia Image="/images/pictures/1.jpg" Height="100" />
            <MudCardContent Class="pb-0" Style="width: 200px;">
                <MudText Typo="Typo.subtitle1" Color="@Color.Primary">Sticky Mobile</MudText>
                <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                    <MudText Typo="Typo.body1">Our store guarantees the followig perks to all it's customers.</MudText>
                </MudHidden>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Secondary" Class="ma-2">Order again</MudButton>
            </MudCardActions>
        </MudCard>

        <MudCard Elevation="25" Class="mr-3 rounded-xl">
            <MudCardMedia Image="/images/pictures/2.jpg" Height="100" />
            <MudCardContent Class="pb-0" Style="width: 200px;">
                <MudText Typo="Typo.subtitle1" Color="@Color.Primary">Progressive Web App</MudText>
                <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                    <MudText Typo="Typo.body1">Our store guarantees the followig perks to all it's customers.</MudText>
                </MudHidden>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Secondary" Class="ma-2">Order again</MudButton>
            </MudCardActions>
        </MudCard>

        <MudCard Elevation="25" Class="mr-3 rounded-xl">
            <MudCardMedia Image="/images/pictures/3.jpg" Height="100" />
            <MudCardContent Class="pb-0" Style="width: 200px;">
                <MudText Typo="Typo.subtitle1" Color="@Color.Primary">Blazor Hero App</MudText>
                <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                    <MudText Typo="Typo.body1">Our store guarantees the followig perks to all it's customers.</MudText>
                </MudHidden>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Secondary" Class="ma-2">Order again</MudButton>
            </MudCardActions>
        </MudCard>

        <MudCard Elevation="25" Class="mr-3 rounded-xl">
            <MudCardMedia Image="/images/pictures/4.jpg" Height="100" />
            <MudCardContent Class="pb-0" Style="width: 200px;">
                <MudText Typo="Typo.subtitle1" Color="@Color.Primary">DCMS.Blazor App</MudText>
                <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                    <MudText Typo="Typo.body1">Our store guarantees the followig perks to all it's customers.</MudText>
                </MudHidden>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Secondary" Class="ma-2">Order again</MudButton>
            </MudCardActions>
        </MudCard>

        <MudCard Elevation="25" Class="mr-3 rounded-xl">
            <MudCardMedia Image="/images/pictures/5.jpg" Height="100" />
            <MudCardContent Class="pb-0" Style="width: 200px;">
                <MudText Typo="Typo.subtitle1" Color="@Color.Primary">PWA Ready Kit</MudText>
                <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                    <MudText Typo="Typo.body1">Our store guarantees the followig perks to all it's customers.</MudText>
                </MudHidden>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Secondary" Class="ma-2">Order again</MudButton>
            </MudCardActions>
        </MudCard>

        <MudCard Elevation="25" Class="mr-3 rounded-xl">
            <MudCardMedia Image="/images/pictures/6.jpg" Height="100" />
            <MudCardContent Class="pb-0" Style="width: 200px;">
                <MudText Typo="Typo.subtitle1" Color="@Color.Primary">MAUI and Xamarin</MudText>
                <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                    <MudText Typo="Typo.body1">Our store guarantees the followig perks to all it's customers.</MudText>
                </MudHidden>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Secondary" Class="ma-2">Order again</MudButton>
            </MudCardActions>
        </MudCard>
    </MudPaper>
}
