@namespace DCMS.Web.Pages.Sales.SaleBill

@page "/sales/salebill"

@using AntDesign.TableModels;
@using System.ComponentModel;
@using System.Text.Json;
@using DCMS.Application.Models;

@*导航*@
<BreadcrumbNav />

@*过滤*@
<Form @ref="_form" Model="@_bill" Name="advanced_search" Class="ant-advanced-search-form" Style="margin:20px 0 20px 0">
	<Row Gutter="24">
		<GridCol Span="4">
			<Search Placeholder="客户" EnterButton="true"/>
		</GridCol>
		<GridCol Span="4"> 
			<FormItem>
				<Select Mode="default"
						Placeholder="业务员"
						DataSource="@_persons"
						@bind-Value="@context.TerminalId"
						LabelName="@nameof(Person.Name)"
						ValueName="@nameof(Person.Id)">
				</Select>
			</FormItem>
		</GridCol>
		<GridCol Span="4">
			<FormItem>
				<Input @bind-Value="@txtValue" Placeholder="单据号" />
			</FormItem>
		</GridCol>
		<GridCol Span="4">
			<FormItem>
				<Select Mode="default"
						Placeholder="仓库"
						DataSource="@_persons"
						@bind-Value="@context.TerminalId"
						LabelName="@nameof(Person.Name)"
						ValueName="@nameof(Person.Id)">
				</Select>
			</FormItem>
		</GridCol>
		<GridCol Span="4">
			<FormItem>
				<Input @bind-Value="@txtValue" Placeholder="备注" />
			</FormItem>
		</GridCol>
		<GridCol Span="4">
			<FormItem>
				<Select Mode="default"
						Placeholder="配送"
						DataSource="@_persons"
						@bind-Value="@context.TerminalId"
						LabelName="@nameof(Person.Name)"
						ValueName="@nameof(Person.Id)">
				</Select>
			</FormItem>
		</GridCol>
	</Row>
	<Row Gutter="24">
		<GridCol Span="4">
			<DatePicker TValue="DateTime?" Style="display:block" />
		</GridCol>
		<GridCol Span="4">
			<DatePicker TValue="DateTime?" Style="display:block" />
		</GridCol>
		<GridCol Span="4">
			<FormItem>
				<Checkbox @bind-Value="@txtchecked">是否显示审核</Checkbox>
			</FormItem>
		</GridCol>
		<GridCol Span="4">
			<FormItem>
				<Checkbox @bind-Value="@txtchecked">自动刷新</Checkbox>
			</FormItem>
		</GridCol>
		<GridCol Span="4">
			<FormItem>
				<Button Type="primary" HtmlType="submit" Block>搜索</Button>
			</FormItem>
		</GridCol>
		<GridCol Span="4">
			<FormItem>
				<Button OnClick="()=>{_form?.Reset();}" Block>重置</Button>
			</FormItem>
		</GridCol>
	</Row>
</Form>


@*单据*@

<Row Style="margin-bottom:20px">
	<Col Span="24">
	<Button Color="@(Color.Blue6)" Type="@ButtonType.Primary" Icon="@IconType.Outline.FileAdd" OnClick="()=>Add()">
		添加
	</Button>

	<Button Danger Type="@ButtonType.Primary" Icon="@IconType.Outline.Delete" OnClick="()=>DeleteAll()">
		删除
	</Button>
	<Button Color="@(Color.Orange5)" Type="@ButtonType.Primary" Icon="@IconType.Outline.Printer" OnClick="()=>Print()">
		打印
	</Button>
	<Dropdown Trigger="@(new Trigger[] { Trigger.Click })" OnClick='(e)=>Export(e)'>
		<Overlay>
			<Menu>
				<MenuItem Key="1">PDF</MenuItem>
				<MenuItem Key="2">XLS</MenuItem>
				<MenuItem Key="3">XML</MenuItem>
				<MenuItem Key="3">JSON</MenuItem>
			</Menu>
		</Overlay>
		<Unbound>
			<Button RefBack=@context>导出 <Icon Type="Export" /></Button>
		</Unbound>
	</Dropdown>

	<Button Color="@(Color.Blue7)" Type="primary" Icon="@IconType.Outline.Redo" OnClick="()=>DeleteAll()">
		刷新
	</Button>
	</Col>
</Row>


<Row>
	<Col Span="24">

	<Table OnExpand="OnRowExpand"
		   @ref="table"
		   TItem="SaleReservationBillModel"
		   DataSource="@_bills"
		   RenderMode="RenderMode.Always"
		   Total="_total"
		   @bind-PageIndex="_pageIndex"
		   @bind-PageSize="_pageSize"
		   @bind-SelectedRows="selectedRows"
		   OnChange="OnChange"
		   ScrollX="1300">

		<RowTemplate>
			<Selection Key="@(context.Id.ToString())" Width="50" Fixed="left" />
			<Column Title="单号" @bind-Field="@context.BillNumber" Width="220" Fixed="left">
				<a href="?num=@context.Id">@context.BillNumber</a>
			</Column>
			<Column Title="客户" @bind-Field="@context.TerminalId" Width="100" Sortable />
			<Column Title="业务员" @bind-Field="@context.BusinessUserId" Width="100" Sortable />
			<Column Title="送货员" @bind-Field="@context.DeliveryUserId" Width="100" Sortable />
			<Column Title="仓库" @bind-Field="@context.WareHouseId" Width="100" Sortable />
			<Column Title="总金额" @bind-Field="@context.SumAmount" Width="150" Align="ColumnAlign.Right" Sortable />
			<Column Title="应收金额" @bind-Field="@context.ReceivableAmount" Width="150" Align="ColumnAlign.Right" Sortable />
			<Column Title="优惠金额" @bind-Field="@context.ReceivableAmount" Width="150" Align="ColumnAlign.Right" Sortable />
			<Column Title="打印" @bind-Field="@context.PrintNum" Width="100" Sortable Align="ColumnAlign.Center" />
			<Column Title="交易时间" @bind-Field="@context.TransactionDate" Width="200" Sortable />
			<Column Title="状态" Field="@(context.Deleted)" Width="100">
				<Switch @bind-Value="@(context.Deleted)"></Switch>
			</Column>
			<Column Title="来源" @bind-Field="@context.Operation" Align="ColumnAlign.Center" Width="100" Sortable>
				<Button Type="@ButtonType.Primary" Icon="@(context.Operation==1?IconType.Fill.Android:IconType.Fill.Windows)" />
			</Column>
			<ActionColumn Title="操作" Width="100" Fixed="right" Align="ColumnAlign.Center">
				<Button Type="@ButtonType.Primary" Block OnClick="()=>Delete(context.Id)" Icon="@IconType.Fill.Eye"></Button>
			</ActionColumn>

				@*合计*@
			<SummaryRow>
				<SummaryCell Fixed="left" ColSpan="2" Class="ant-table-cell ant-table-cell-fix-left ant-table-selection-column">总计</SummaryCell>
				<SummaryCell />
				<SummaryCell />
				<SummaryCell />
				<SummaryCell />
				<SummaryCell />
				<SummaryCell Align="ColumnAlign.Right">
					<Text Type="danger">@(_bills.Sum(x => x.SumAmount))</Text>
				</SummaryCell>
				<SummaryCell Align="ColumnAlign.Right">
					<Text Type="danger">@(_bills.Sum(x => x.ReceivableAmount))</Text>
				</SummaryCell>

				<SummaryCell Align="ColumnAlign.Right">
					<Text Type="danger">@(_bills.Sum(x => x.ReceivableAmount))</Text>
				</SummaryCell>

				<SummaryCell />
				<SummaryCell />
				<SummaryCell />
				<SummaryCell />
				<SummaryCell />
			</SummaryRow>

		</RowTemplate>

		<ExpandTemplate Context="rowData">
			<Table DataSource="rowData.Data.Items" Loading="rowData.Data.Items==null" HidePagination>
				<Column Title="商品名称" @bind-Field="@context.ProductName"  Width="120"/>
				<Column Title="条形码" @bind-Field="@context.BarCode" />
				<Column Title="单位" @bind-Field="@context.UnitName" />
				<Column Title="单位换算" @bind-Field="@context.UnitConvert" />
				<Column Title="数量" @bind-Field="@context.Quantity" />
				<Column Title="价格" @bind-Field="@context.Price" />
				<Column Title="金额" @bind-Field="@context.Amount" />
				<Column Title="备注" @bind-Field="@context.Remark" />
			</Table>
		</ExpandTemplate>
	</Table>

	</Col>
</Row>
<style>
	[data-theme='compact'] .ant-advanced-search-form,
	.ant-advanced-search-form {
		padding: 24px 24px 0 24px;
		background: #fbfbfb;
		border: 1px solid #d9d9d9;
		border-radius: 2px;
	}

	/*		[data-theme='compact'] .ant-advanced-search-form .ant-form-item,
				.ant-advanced-search-form .ant-form-item {
					display: flex;
				}

				[data-theme='compact'] .ant-advanced-search-form .ant-form-item-control-wrapper,
				.ant-advanced-search-form .ant-form-item-control-wrapper {
					flex: 1;
				}*/
</style>


@code {
	bool txtchecked { get; set; }
	string txtValue { get; set; }
	RenderFragment menu =
	@<Menu>
		<MenuItem>Action 1</MenuItem>
		<MenuItem>Action 2</MenuItem>
	</Menu>;

	TableFilter<string>[] _genderFilters = new[]{
		new TableFilter<string> { Text = "Male", Value = "male" },
		new TableFilter<string> { Text = "Female", Value = "female" },
	};

	private RenderFragment _overlayMenu =@<Menu>
		<MenuItem>
			PDF
		</MenuItem>
		<MenuItem>
			XML
		</MenuItem>
		<MenuItem>
			PDF
		</MenuItem>
	</Menu>;


}