@namespace ProLayout
@inherits AntDomComponentBase

<Drawer
    Visible="_show"
    Width="300"
    Placement="right"
    Style="z-index: 999;">
    <Handler>
        <div class="@BaseClassName-drawer-handle" @onclick="SetShow">
            @if (_show)
            {
                <Icon Type="close" Theme="outline" Style="color: #fff; font-size: 20px;" />
            }
            else
            {
                <Icon Type="setting" Theme="outline" Style="color: #fff; font-size: 20px;" />
            }
        </div>
    </Handler>
    <ChildContent>
        <div class="@BaseClassName-drawer-content">
            <ProLayout.Body
                Title="页面样式配置"
                PrefixCls="@BaseClassName">
                <BlockCheckbox
                    PrefixCls="@BaseClassName"
                    List="ThemeList"
                    @bind-Value="@SettingState.Value.NavTheme"
                    OnChange="@(async x => await UpdateTheme(x))" />
            </ProLayout.Body>

            <ThemeColor
                Title="主题颜色"
                Colors="LightColorList"
                @bind-Value="@SettingState.Value.PrimaryColor"
                OnChange="@(async x => await UpdateColor(x))" />
            <Divider />

            <ProLayout.Body
                Title="导航模式"
                PrefixCls="@BaseClassName">
                <BlockCheckbox
                    PrefixCls="@BaseClassName"
                    List="LayoutList"
                    @bind-Value="@SettingState.Value.Layout"
                    OnChange="@(x => SetThemeList())" />
            </ProLayout.Body>

            <LayoutSetting />

            <Divider />

            <ProLayout.Body
                Title="区域配置"
                PrefixCls="@BaseClassName">
                <RegionalSetting />
            </ProLayout.Body>

            <Divider />

            <ProLayout.Body
                Title="其它配置"
                PrefixCls="@BaseClassName">
                <OtherSetting />
            </ProLayout.Body>

            @if (!HideHintAlert && !HideCopyButton)
            {
                <Divider />
            }

            @if (!HideHintAlert)
            {
                <Alert
                    Type="warning"
                    Message="设置面板仅在开发环境中显示，请手动修改"
                    Icon="_notification"
                    ShowIcon="true"
                    Style="margin-bottom: 16px;" />
            }

            @if (!HideCopyButton)
            {
                <Button Block OnClick="CopySetting">
                    <Icon Type="copy" Theme="outline" /> 拷贝样式
                </Button>
            }
        </div>
    </ChildContent>
</Drawer>

<link type="text/css" rel="stylesheet" id="theme-style" href="@_url" @ref="_linkRef">
@code
{
    private RenderFragment _notification = @<Icon Type="notification" />;
}