@page "/login"
@layout MainLayout
@attribute [AllowAnonymous]
@inject Microsoft.Extensions.Localization.IStringLocalizer<Login> _localizer

<div class="login-one">
	<div class="d-flex justify-center">
		<MudContainer Class="mt-16" MaxWidth="MaxWidth.Small">
			<MudPaper Class="rounded-lg pa-9">
				<EditForm Model="@_tokenModel" OnValidSubmit="SubmitAsync">
					<FluentValidationValidator DisableAssemblyScanning @ref="_fluentValidationValidator" />
					<MudGrid Spacing="1">
						<MudItem xs="12">
							<div class="d-flex justify-center">
								<DCMSLogo />
							</div>
						</MudItem>
						<MudItem xs="12">
							<div class="d-flex justify-center mb-5">
								<MudLink Href="/landing" Color="Color.Primary" Typo="Typo.h5" Style="font-weight: 600;">经销商管家V1.0</MudLink>
							</div>
						</MudItem>
						<DataAnnotationsValidator />
						<MudItem xs="12">
							<MudTextField T="string"  Variant="Variant.Filled" Margin="Margin.Dense"
										  @bind-Value="_tokenModel.Email" For="@(() => _tokenModel.Email)" AdornmentColor="Color.Primary" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Email" />
						</MudItem>
						<MudItem xs="12">
							<MudTextField  Variant="Variant.Filled" Margin="Margin.Dense"
										  @bind-Value="_tokenModel.Password" For="@(() => _tokenModel.Password)"
										  InputType="@_passwordInput" AdornmentColor="Color.Primary" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Lock" />
						</MudItem>
						<MudItem xs="12" Class="mt-n2 d-flex justify-space-between align-center">
							<MudCheckBox T="bool" Label="记住我？" Color="Color.Primary" Class="ml-n3"></MudCheckBox>
							<MudLink Underline="Underline.Always" Href="/account/forgot-password">忘记密码？</MudLink>
						</MudItem>
						<MudItem xs="12" Class="d-flex justify-center mb-3">
							<MudButton ButtonType="ButtonType.Submit" FullWidth="true" Variant="Variant.Filled" Disabled="@(!Validated)" Color="Color.Primary" Size="Size.Large">登录</MudButton>
						</MudItem>
					</MudGrid>
				</EditForm>

				<div class="d-flex justify-center mt-9">
					<MudFab Icon="@Icons.Custom.Brands.MicrosoftWindows" Color="Color.Primary" Class="mx-2" Size="Size.Medium" />
					<MudFab Icon="@Icons.Custom.Brands.Apple" Color="Color.Primary" Class="mx-2" Size="Size.Medium" />
					<MudFab Icon="@Icons.Custom.Brands.Google" Color="Color.Primary" Class="mx-2" Size="Size.Medium" />
				</div>
			</MudPaper>
		</MudContainer>
	</div>
</div>


