@page "/register"
@layout MainLayout
@attribute [AllowAnonymous]
@inject Microsoft.Extensions.Localization.IStringLocalizer<Register> _localizer

<div class="login-one">
        <div class="d-flex justify-center">
            <MudContainer Class="mt-10" MaxWidth="MaxWidth.Small">
                <MudPaper Class="rounded-lg pa-5">
                    <EditForm Model="@_registerUserModel" OnValidSubmit="SubmitAsync">
                                <FluentValidationValidator DisableAssemblyScanning @ref="_fluentValidationValidator" />
                                <MudGrid Spacing="1">
                                    <MudItem xs="12" Class="pt-3">
                                        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                                            <div class="d-flex justify-center">
                                                <DCMSLogo />
                                            </div>
                                        </MudHidden>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <div class="d-flex justify-center mb-5">
                                            <MudLink Href="/landing" Color="Color.Primary" Typo="Typo.h5" Style="font-weight: 600;">@_localizer["DCMS.Blazor"]</MudLink>
                                        </div>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudTextField For="@(() => _registerUserModel.UserName)" @bind-Value="_registerUserModel.UserName" Label="@_localizer["User Name"]" Margin="Margin.Dense" AdornmentColor="Color.Primary" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AccountBox" Variant="Variant.Filled"/>
                                    </MudItem>
                                    <MudItem xs="12" sm="6" md="6">
                                        <MudTextField For="@(() => _registerUserModel.UserRealName)" @bind-Value="_registerUserModel.UserRealName" Label="@_localizer["First Name"]" Margin="Margin.Dense" AdornmentColor="Color.Primary" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Badge" Variant="Variant.Filled"/>
                                    </MudItem>
         
                                    <MudItem xs="12" sm="6" md="6">
                                        <MudTextField T="string" Label="@_localizer["E-mail"]" @bind-Value="_registerUserModel.Email" For="@(() => _registerUserModel.Email)" Margin="Margin.Dense" AdornmentColor="Color.Primary" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Email" Variant="Variant.Filled"/>
                                    </MudItem>
                                    <MudItem xs="12" sm="6" md="6">
                                        <MudTextField T="string" Label="@_localizer["Phone Number"]" @bind-Value="_registerUserModel.PhoneNumber" For="@(() => _registerUserModel.PhoneNumber)" Margin="Margin.Dense" AdornmentColor="Color.Primary" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.PhoneInTalk" Variant="Variant.Filled"/>
                                    </MudItem>
                                    <MudItem xs="12" sm="6" md="6">
                                        <MudTextField For="@(() => _registerUserModel.Password)" InputType="@_passwordInput" AdornmentColor="Color.Primary" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Lock" @bind-Value="_registerUserModel.Password" Label="@_localizer["Password"]" Margin="Margin.Dense" Variant="Variant.Filled"/>
                                    </MudItem>
                                    <MudItem xs="12" sm="6" md="6">
                                        <MudTextField For="@(() => _registerUserModel.ConfirmPassword)" InputType="InputType.Password" @bind-Value="_registerUserModel.ConfirmPassword" Label="@_localizer["Confirm Password"]" Margin="Margin.Dense" AdornmentColor="Color.Primary" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Lock" Variant="Variant.Filled"/>
                                    </MudItem>
                                    <MudItem xs="12" Class="d-flex justify-center mt-5">
                                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Disabled="@(!Validated)" Color="Color.Primary" Size="Size.Large" FullWidth="true">@_localizer["Register"]</MudButton>
                                    </MudItem>
                                </MudGrid>
                            </EditForm>
                                <div class="d-flex flex-row justify-center mt-5">
                                    <MudText Class="align-self-center mr-2" Color="Color.Inherit" Align="Align.Center">@_localizer["Already have an account?"]</MudText>
                                    <MudLink Href="/login" Underline="Underline.Hover" Color="Color.Primary">@_localizer["Sign In"]</MudLink>
                                </div>
                </MudPaper>
            </MudContainer>
        </div>
    </div>