@page "/home"
@page "/"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Home> _localizer

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<style type="text/css">
    .bounceIn {
        opacity: 0;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-name: bounceIn;
        animation-fill-mode: forwards;
    }

    .bounceOut {
        animation-duration: 0.5s;
        animation-name: bounceOut;
        animation-fill-mode: forwards;
    }

    .backInDown {
        opacity: 0;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-name: backInDown;
        animation-fill-mode: forwards;
    }

    .backOutDown {
        animation-duration: 0.5s;
        animation-name: backOutDown;
        animation-fill-mode: forwards;
    }

    .rotateIn {
        opacity: 0;
        animation-delay: 0.5s;
        animation-duration: 0.5s;
        animation-name: rotateIn;
        animation-fill-mode: forwards;
    }

    .rotateOut {
        animation-duration: 0.5s;
        animation-name: rotateOut;
        animation-fill-mode: forwards;
    }
</style>

<MudPaper Elevation="3" Height="150" Class="px-4 mx-n4 mt-n10 pt-10 mud-theme-primary" Style="border-radius: 0px 0px 45px 45px;" Outlined="false">
    <MudPaper Elevation="0" Class="py-6" Style="background-color: transparent">

    </MudPaper>
</MudPaper>

<MudGrid Class="mt-n15 pt-0 mb-1">
    <MudItem xs="12">
        <MudCard Elevation="25" Class="rounded-xl">
            <MudCardContent>
                <MudText Color="Color.Default" Align="Align.Center" Typo="Typo.body2" Style="font-weight: 400;">Introducing</MudText>
                <MudText Color="Color.Primary" Align="Align.Center" Typo="Typo.h6" Style="font-weight: 700;">BLAZOR STORE</MudText>
                <MudText Color="Color.Default" Align="Align.Center" Typo="Typo.subtitle1" Style="font-weight: 400;">FOR <strong>FASTER</strong> AND <strong>EASIER</strong> APP DEVELOPMENT</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

<MudCarousel Style="height:200px;" Class="rounded-xl" ShowArrows="true" ShowDelimiters="true" AutoCycle="true" TData="object">
    <DelimiterTemplate Context="selected">
        <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
            <span class="mud-icon-button-label">
                <MudIcon Icon="@(selected ? "fas fa-circle" : "far fa-circle")" Style="color: #ffffff; font-size: 1rem !important;" />
            </span>
        </div>
    </DelimiterTemplate>
    <ChildContent>
        <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="rotateIn" CustomTransitionExit="rotateOut">
            <MudCard Outlined="false" Class="rounded-xl">
                <MudCardMedia Image="/images/intro-1.jpg" Height="200" />
            </MudCard>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="backInDown" CustomTransitionExit="backOutDown">
            <MudCard Outlined="false" Class="rounded-xl">
                <MudCardMedia Image="/images/intro-2.jpg" Height="200" />
            </MudCard>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Custom" CustomTransitionEnter="bounceIn" CustomTransitionExit="bounceOut">
            <MudCard Outlined="false" Class="rounded-xl">
                <MudCardMedia Image="/images/intro-3.png" Height="200" />
            </MudCard>
        </MudCarouselItem>
    </ChildContent>
</MudCarousel>

<MudGrid Class="my-5" Spacing="2">
    <MudItem xs="6" sm="6" md="3">
        <MudCard Elevation="25" Class="rounded-xl" @onclick="(() => InvokeQrPinModal())">
            <MudCardContent Class="d-flex flex-column py-5">
                <MudIconButton Icon="@Icons.Material.TwoTone.SupervisorAccount" Color="Color.Error" Class="pa-3 align-self-center" Size="Size.Large"></MudIconButton>
                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="Color.Default" Align="Align.Center">Role-based Access Module</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="6" sm="6" md="3">
        <MudCard Elevation="25" Class="rounded-xl">
            <MudCardContent Class="d-flex flex-column py-5">
                <MudIconButton Icon="@Icons.Material.TwoTone.DeveloperMode" Color="Color.Warning" Class="pa-3 align-self-center" Size="Size.Large"></MudIconButton>
                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="Color.Default" Align="Align.Center">Sample CRUD Operations</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="6" sm="6" md="3">
        <MudCard Elevation="25" Class="rounded-xl">
            <MudCardContent Class="d-flex flex-column py-5">
                <MudIconButton Icon="@Icons.Material.TwoTone.MarkEmailRead" Color="Color.Secondary" Class="pa-3 align-self-center" Size="Size.Large"></MudIconButton>
                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="Color.Default" Align="Align.Center">Integrated Mailing Function</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="6" sm="6" md="3">
        <MudCard Elevation="25" Class="rounded-xl">
            <MudCardContent Class="d-flex flex-column py-5">
                <MudIconButton Icon="@Icons.Material.TwoTone.MarkChatUnread" Color="Color.Info" Class="pa-3 align-self-center" Size="Size.Large"></MudIconButton>
                <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="Color.Default" Align="Align.Center">Realtime Chat with SignalR</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

<div class="d-flex flex-row justify-space-between mt-5 mb-2">
    <div class="d-flex">
        <MudIconButton Icon="fas fa-gem" Color="Color.Primary" Size="Size.Small"></MudIconButton>
        <MudText Color="Color.Default" Class="mx-2" Style="font-weight: 500;" Typo="Typo.subtitle1">Highlight Features</MudText>
    </div>
    <MudText Color="Color.Primary" Class="align-self-center" Typo="Typo.subtitle2">View all</MudText>
</div>
<div class="hz-container pb-3">
    <MudCard Elevation="25" Class="rounded-xl mr-3">
        <MudCardContent Style="width: 150px;" Class="d-flex flex-column mb-1 mt-1">
            <MudIconButton Icon="fas fa-layer-group" Color="Color.Error" Class="pa-3 align-self-center" Size="Size.Large"></MudIconButton>
            <MudText Typo="Typo.subtitle1" Align="Align.Center" Style="font-weight: 500;" Class="align-self-center" Color="@Color.Surface">Full Stack</MudText>
            <MudText Typo="Typo.caption" Class="align-self-center" Align="Align.Center" Color="@Color.Default">Client and Server side</MudText>
        </MudCardContent>
    </MudCard>
    <MudCard Elevation="25" Class="rounded-xl mr-3">
        <MudCardContent Style="width: 150px;" Class="d-flex flex-column mb-1 mt-1">
            @*<MudAvatar Image="/images/svg/smartphone.svg" Class="pa-3 align-self-center" Style="height:50px; width:50px;"></MudAvatar>*@
            <MudIconButton Icon="@Icons.Material.TwoTone.AddToHomeScreen" Color="Color.Tertiary" Class="pa-3 align-self-center" Size="Size.Large"></MudIconButton>
            <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Align="Align.Center" Class="align-self-center" Color="@Color.Surface">PWA Ready</MudText>
            <MudText Typo="Typo.caption" Class="align-self-center" Align="Align.Center" Color="@Color.Default">Install like apps</MudText>
        </MudCardContent>
    </MudCard>
    <MudCard Elevation="25" Class="rounded-xl mr-3">
        <MudCardContent Style="width: 150px;" Class="d-flex flex-column mb-1 mt-1">
            <MudIconButton Icon="fas fa-laptop-code" Color="Color.Info" Class="pa-3 align-self-center" Size="Size.Large"></MudIconButton>
            <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Align="Align.Center" Class="align-self-center" Color="@Color.Surface">MudBlazor</MudText>
            <MudText Typo="Typo.caption" Class="align-self-center" Align="Align.Center" Color="@Color.Default">Amazing components</MudText>
        </MudCardContent>
    </MudCard>
    <MudCard Elevation="25" Class="rounded-xl mr-3">
        <MudCardContent Style="width: 150px;" Class="d-flex flex-column mb-1 mt-1">
            <MudIconButton Icon="fas fa-globe" Color="Color.Success" Class="pa-3 align-self-center" Size="Size.Large"></MudIconButton>
            <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Align="Align.Center" Class="align-self-center" Color="@Color.Surface">WebAssembly</MudText>
            <MudText Typo="Typo.caption" Class="align-self-center" Align="Align.Center" Color="@Color.Default">Run in all browsers</MudText>
        </MudCardContent>
    </MudCard>
    <MudCard Elevation="25" Class="rounded-xl mr-3">
        <MudCardContent Style="width: 150px;" Class="d-flex flex-column mb-1 mt-1">
            <MudIconButton Icon="@Icons.Material.Filled.ImportantDevices" Color="Color.Primary" Class="pa-3 align-self-center" Size="Size.Large"></MudIconButton>
            <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Align="Align.Center" Class="align-self-center" Color="@Color.Surface">Modern SPA</MudText>
            <MudText Typo="Typo.caption" Class="align-self-center" Align="Align.Center" Color="@Color.Default">Build modern web app</MudText>
        </MudCardContent>
    </MudCard>
    <MudCard Elevation="25" Class="rounded-xl mr-3">
        <MudCardContent Style="width: 150px;" Class="d-flex flex-column mb-1 mt-1">
            <MudIconButton Icon="fas fa-tasks" Color="Color.Error" Class="pa-3 align-self-center" Size="Size.Large"></MudIconButton>
            <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Align="Align.Center" Class="align-self-center" Color="@Color.Surface">Project/ Tasks</MudText>
            <MudText Typo="Typo.caption" Class="align-self-center" Align="Align.Center" Color="@Color.Default">Speed up development</MudText>
        </MudCardContent>
    </MudCard>
    <MudCard Elevation="25" Class="rounded-xl mr-3">
        <MudCardContent Style="width: 150px;" Class="d-flex flex-column mb-1 mt-1">
            <MudIconButton Icon="fas fa-heartbeat" Color="Color.Tertiary" Class="pa-3 align-self-center" Size="Size.Large"></MudIconButton>
            <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Align="Align.Center" Class="align-self-center" Color="@Color.Surface">Socials Health</MudText>
            <MudText Typo="Typo.caption" Class="align-self-center" Align="Align.Center" Color="@Color.Default">Speed up development</MudText>
        </MudCardContent>
    </MudCard>
    <MudCard Elevation="25" Class="rounded-xl mr-3">
        <MudCardContent Style="width: 150px;" Class="d-flex flex-column mb-1 mt-1">
            <MudIconButton Icon="fas fa-shopping-bag" Color="Color.Secondary" Class="pa-3 align-self-center" Size="Size.Large"></MudIconButton>
            <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Align="Align.Center" Class="align-self-center" Color="@Color.Surface">E-Commerce</MudText>
            <MudText Typo="Typo.caption" Class="align-self-center" Align="Align.Center" Color="@Color.Default">Speed up development</MudText>
        </MudCardContent>
    </MudCard>
    <MudCard Elevation="25" Class="rounded-xl mr-3">
        <MudCardContent Style="width: 150px;" Class="d-flex flex-column mb-1 mt-1">
            <MudIconButton Icon="fas fa-wallet" Color="Color.Warning" Class="pa-3 align-self-center" Size="Size.Large"></MudIconButton>
            <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Align="Align.Center" Class="align-self-center" Color="@Color.Surface">E-Wallet</MudText>
            <MudText Typo="Typo.caption" Class="align-self-center" Align="Align.Center" Color="@Color.Default">Speed up development</MudText>
        </MudCardContent>
    </MudCard>
</div>

<MudCard Elevation="25" Class="rounded-xl my-5">
    <MudCardContent>
        <MudGrid Spacing="2">
            <MudItem xs="12">
                <MudText Color="Color.Primary" Align="Align.Center" Typo="Typo.h6" Style="font-weight: 600;">Ready in 3 Steps</MudText>
                <MudText Color="Color.Default" Align="Align.Center" Typo="Typo.subtitle1" Style="font-weight: 400;">Make your apps look stunning by making no compromises on the features as well</MudText>
            </MudItem>

            <MudItem xs="12">
                <MudDivider DividerType="DividerType.Middle" Class="mx-10" />
            </MudItem>

            <MudItem xs="12">
                <div class="d-flex flex-row">
                    <MudAvatar Image="/images/018-send.png" Class="pa-0 mr-5 align-self-center" Style="height:45px; width:45px;"></MudAvatar>
                    <div>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Choose your Style</MudText>
                        <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Default">We've included multiple components and styles you can choose to match your project needs.</MudText>
                    </div>
                </div>
            </MudItem>

            <MudItem xs="12">
                <div class="d-flex flex-row">
                    <MudAvatar Image="/images/004-configuration.png" Class="pa-0 mr-5 align-self-center" Style="height:45px; width:45px;"></MudAvatar>
                    <div>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Build your Features</MudText>
                        <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Default">With many prebuilt functions and template, you can speech up your project developement.</MudText>
                    </div>
                </div>
            </MudItem>

            <MudItem xs="12">
                <div class="d-flex flex-row">
                    <MudAvatar Image="/images/001-upload.png" Class="pa-0 mr-5 align-self-center" Style="height:45px; width:45px;"></MudAvatar>
                    <div>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Publish your App</MudText>
                        <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Default">Something really cool is launching now! Let publish and promote it to your customer.</MudText>
                    </div>
                </div>
            </MudItem>
        </MudGrid>
    </MudCardContent>
</MudCard>

<MudPaper Elevation="0" Class="px-4 mx-n4 my-5 py-5 mud-theme-primary" Outlined="false" Square="true">
    <MudText Typo="Typo.h6" Style="font-weight: 600; text-align: center;">Built Just For You</MudText>
    <MudText Typo="Typo.body2" Style="font-weight: 600; text-align: center;">The next generation of Mobile and Website project template</MudText>

    <MudCard Class="rounded-xl my-5">
        <MudCardContent>
            <MudGrid Spacing="2">
                <MudItem xs="6">
                    <div class="d-flex flex-row">
                        <MudAvatar Image="/images/materials.png" Class="pa-0 mr-2 align-self-center"Style="height:40px; width:40px;"></MudAvatar>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Material Design</MudText>
                    </div>
                </MudItem>

                <MudItem xs="6">
                    <div class="d-flex flex-row">
                        <MudAvatar Image="/images/csharp.png" Class="pa-0 mr-2 align-self-center" Style="height:40px; width:40px;"></MudAvatar>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Entirely in <br> C#</MudText>
                    </div>
                </MudItem>

                <MudItem xs="6">
                    <div class="d-flex flex-row">
                        <MudAvatar Image="/images/dependencies.png" Class="pa-0 mr-2 align-self-center" Style="height:40px; width:40px;"></MudAvatar>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">No Depencencies</MudText>
                    </div>
                </MudItem>

                <MudItem xs="6">
                    <div class="d-flex flex-row">
                        <MudAvatar Image="/images/full-stack.png" Class="pa-0 mr-2 align-self-center" Style="height:40px; width:40px;"></MudAvatar>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Both Client & <br> Server</MudText>
                    </div>
                </MudItem>

                <MudItem xs="12">
                    <MudDivider Class="mb-3"></MudDivider>
                </MudItem>

                <MudItem xs="12">
                    <MudContainer Fixed="true" Class="px-0">
                        <MudButton Link="https://1.envato.market/GjVYQr" Target="_blank" FullWidth="true" Class="rounded-xl" Variant="Variant.Filled" Style="@($"color:{Colors.Shades.White}; background:{Theme.Palette.SuccessDarken};")">Purchase Now</MudButton>
                    </MudContainer>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
</MudPaper>