@page "/stores"
@using DCMS.Application.Models
@using DCMS.Shared.Models.Map
@inject Microsoft.Extensions.Localization.IStringLocalizer<Stores> _localizer

@if (!_loaded)
{
    <Spinner></Spinner>
}
else
{
    <MudText Color="Color.Primary" Class="mt-1 mb-1" Typo="Typo.h6"> Store Locations </MudText>

    <MudGrid Class="mb-5" Spacing="2">
        @foreach (var store in _stores)
        {
            <MudItem xs="12" sm="6" md="6">
                <MudPaper Elevation="25" Class="d-flex flex-row pa-0 rounded-xl" Style="height:150px;" @onclick="@(() => OpenShopDetails(store.Id))">
                    <MudCardMedia Image="@store.Avatar" Class="rounded-xl" Style="height: 150px; min-width: 130px; max-width:130px;" />
                    <div class="d-flex align-content-space-between flex-wrap px-3 py-2" Style="height:150px;">
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="Color.Primary" >@store.StoreName</MudText>
                        <MudText Typo="Typo.body1">@store.Address</MudText>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Color="@Color.Secondary" Class="mud-text-secondary">@store.Distance</MudText>
                    </div>
                </MudPaper>
            </MudItem>
        }
    </MudGrid>
}


@code {
    private bool _loaded;
    private List<StoreInfo> _stores;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        _stores = new List<StoreInfo>
        {
            new StoreInfo
            {
                Id = 1,
                Avatar = "/images/pictures/11.jpg",
                StoreName = "Store Location 1",
                Address  = "Westfield Burwood, Wilga Street, Burwood, NSW 2134, Australia",
                Distance = "1km",
                Location = new MapPosition{ Lat = 10.739780, Lng = 106.705020 }
            },
            new StoreInfo
            {
                Id = 2,
                Avatar = "/images/pictures/12.jpg",
                StoreName = "Store Location 2",
                Address  = "100 Rundle Mall, Adelaide, SA 5000, Australia",
                Distance = "3km",
                Location = new MapPosition{ Lat = 10.797070, Lng = 106.673400 }
            },
            new StoreInfo
            {
                Id = 3,
                Avatar = "/images/pictures/13.jpg",
                StoreName = "Store Location 3",
                Address  = "Westfield Burwood, Wilga Street, Burwood, NSW 2134, Australia",
                Distance = "5km",
                Location = new MapPosition{ Lat = 21.026700, Lng = 105.833870 }
            },
            new StoreInfo
            {
                Id = 4,
                Avatar = "/images/pictures/14.jpg",
                StoreName = "Store Location 4",
                Address  = "Westfield Burwood, Wilga Street, Burwood, NSW 2134, Australia",
                Distance = "8km",
                Location = new MapPosition{ Lat = 10.739780, Lng = 106.705020 }
            },
            new StoreInfo
            {
                Id = 5,
                Avatar = "/images/pictures/15.jpg",
                StoreName = "Store Location 5",
                Address  = "Westfield Burwood, Wilga Street, Burwood, NSW 2134, Australia",
                Distance = "10km",
                Location = new MapPosition{ Lat = 10.739780, Lng = 106.705020 }
            }
        };

        _loaded = true;
    }

    private void OpenShopDetails(int id)
    {
        var parameters = new DialogParameters();
        var store = _stores.FirstOrDefault(x => x.Id == id);
        parameters.Add(nameof(StoreDetailModal.StoreInfo), store);

        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true, FullScreen = true, DisableBackdropClick = true };
        _dialogService.Show<StoreDetailModal>("", parameters, options);
    }
}
