@using DCMS.Application.Models
@using DCMS.Shared.Models.Map

<MudDialog DisableSidePadding="true">
    <TitleContent>
        <div class="d-flex flex-row">
            <MudIcon Icon="@Icons.Material.Filled.Storefront" Class="mr-3 mb-n1" />
            <MudText Typo="Typo.h5" Color="Color.Primary">@StoreInfo.StoreName</MudText>
        </div>
    </TitleContent>
    <DialogContent>
        <MudContainer Style="height:600px; max-height: 600px; overflow-y: scroll" Class="mb-1">
            <MudGrid>
                <MudItem xs="12" md="12">
                    <MudCardMedia Image="@StoreInfo.Avatar" Height="280" Class="rounded-lg" />
                </MudItem>
                <MudItem xs="12" md="12">
                    <div class="d-flex align-start flex-column">
                        <MudText Typo="Typo.h6" Class="mud-text-secondary mb-n1">Address</MudText>
                        <div class="ml-3 mt-1">
                            <MudText Typo="Typo.body2">@StoreInfo.Address</MudText>
                            <MudText Typo="Typo.subtitle2" Class="mb-n1">@StoreInfo.Distance</MudText>
                        </div>
                    </div>

                </MudItem>
                <MudItem xs="12" md="12">
                    <div class="d-flex align-start flex-column">
                        <MudText Typo="Typo.h6" Class="mud-text-secondary mb-n1">Opening hours</MudText>
                    </div>
                </MudItem>
                <MudItem xs="12" md="12">
                  @*  <Map style="height: 300px;" Zoom="15" Center=@StoreInfo.Location>
                        <Markers>
                            <MapMarker Position=@StoreInfo.Location />
                        </Markers>
                    </Map>*@
                </MudItem>
            </MudGrid>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        @*<MudButton DisableElevation Variant="Variant.Filled" ButtonType="ButtonType.Button" Color="Color.Secondary">Ok</MudButton>*@
    </DialogActions>
</MudDialog>